Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

feat: remove clear event
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
  src/qComponents/QColorPicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QColorPicker): Fix input (#189)
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/index.ts
  src/qComponents/QColorPicker/src/QColorAlphaSlider/types.ts
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/index.ts
  src/qComponents/QColorPicker/src/QColorHueSlider/types.ts
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/index.ts
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/index.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
  src/qComponents/QColorPicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: change gitignore
  .gitignore
Due: none

docs: start QButton doc
  .gitignore
  docs/.vuepress/config.ts
  docs/.vuepress/public/qui-logo.svg
  docs/README.md
  docs/guide/QButton.md
  docs/guide/README.md
  docs/guide/getting-started.md
  vite.config.ts
Due: eslint --fix, prettier --write

feat: change builder, add QButton doc
  .prettierignore
  .stylelintignore
  docs/.vuepress/config.ts
  docs/components/QButton.md
  docs/guide/QButton.md
  package.json
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

Update README.md
  README.md
Due: none

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: none

Create CODE_OF_CONDUCT.md (#195)
  CODE_OF_CONDUCT.md
Due: none

build: upgrade deps
  .github/workflows/deploy.yml
  .github/workflows/netlify.yml
  .nvmrc
  .stylelintignore
  package.json
  yarn.lock
Due: prettier --parser json --write, prettier --parser yaml --write

build: upgrade deps
  .prettierignore
  README.md
  package.json
  src/qComponents/QTable/src/types.ts
  stories/intro.stories.mdx
  stories/plugins/QDialog/DialogFormTest.vue
  stories/plugins/QDrawer/DrawerFormTest.vue
  stories/plugins/QMessageBox/MessageBoxFormTest.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

build: fix path to ignored dist dir
  .stylelintignore
Due: none

refactor: allow call console in stories
  .eslintrc
  stories/components/QButton.stories.ts
  stories/components/QCascader.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDatePicker.stories.ts
  stories/components/QForm.stories.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QPagination.stories.ts
  stories/components/QPopover.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QSelect.stories.ts
  stories/components/QTable/Default.ts
  stories/components/QTag.stories.ts
  stories/components/QTextarea.stories.ts
  stories/components/QUpload/Default.stories.ts
  stories/components/QUpload/Multiple.stories.ts
  stories/plugins/QDialog/Component.stories.ts
  stories/plugins/QDialog/Extended.stories.ts
  stories/plugins/QDrawer/Component.stories.ts
  stories/plugins/QDrawer/Extended.stories.ts
  stories/plugins/QMessageBox/Component.stories.ts
  stories/plugins/QMessageBox/Default.stories.ts
  stories/plugins/QMessageBox/Extended.stories.ts
Due: eslint --fix, prettier --write, prettier --parser json --write

feat: setup docs deploy
  .github/workflows/deploy.yml
Due: prettier --parser yaml --write

fix: change base value in config
  docs/.vuepress/config.ts
Due: eslint --fix, prettier --write

style: fix linter errors
  CODE_OF_CONDUCT.md
  package.json
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QNotification/src/QNotificationToast/QNotificationToast.vue
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QScrollbar/src/QBar.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  stories/plugins/QDialog/DialogFormTest.vue
  stories/plugins/QDrawer/DrawerFormTest.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

feat: add github link
  docs/.vuepress/config.ts
Due: eslint --fix, prettier --write

feat: remove storybook-to-ghpages
  .github/workflows/netlify.yml
  package.json
  yarn.lock
Due: prettier --parser json --write, prettier --parser yaml --write

docs: change examples, add our font
  .stylelintignore
  docs/.vuepress/public/QButton.html
  docs/.vuepress/public/QButton[circle].html
  docs/.vuepress/public/QButton[disabled].html
  docs/.vuepress/public/QButton[icon].html
  docs/.vuepress/public/QButton[loading].html
  docs/.vuepress/public/QButton[size].html
  docs/.vuepress/public/QButton[theme].html
  docs/.vuepress/public/QButton[type].html
  docs/.vuepress/public/fonts/Gilroy-Bold.woff
  docs/.vuepress/public/fonts/Gilroy-ExtraBold.woff
  docs/.vuepress/public/fonts/Gilroy-Medium.woff
  docs/.vuepress/public/fonts/Gilroy-Regular.woff
  docs/.vuepress/styles/index.scss
  docs/components/QButton.md
Due: prettier --write, stylelint --fix

refactor: add end lines
  .stylelintignore
  docs/.vuepress/config.ts
  docs/.vuepress/public/QButton.html
  docs/.vuepress/public/QButton[circle].html
  docs/.vuepress/public/QButton[disabled].html
  docs/.vuepress/public/QButton[icon].html
  docs/.vuepress/public/QButton[loading].html
  docs/.vuepress/public/QButton[size].html
  docs/.vuepress/public/QButton[theme].html
  docs/.vuepress/public/QButton[type].html
  docs/.vuepress/styles/index.scss
Due: eslint --fix, prettier --write, stylelint --fix

build: upgrade deps
  package.json
  yarn.lock
Due: prettier --parser json --write

refactor: fix stylelint errors
  src/fonts/fonts.scss
  src/icons/icons.scss
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QCheckbox/src/q-checkbox.scss
  src/qComponents/QColorPicker/src/q-color-picker.scss
  src/qComponents/QDatePicker/src/panel/q-picker-panel.scss
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/tables/period-table.scss
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QNotification/src/QNotificationContainer/q-notification-container.scss
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/q-progress-indicatior-container.scss
  src/qComponents/QRadio/src/q-radio.scss
  src/qComponents/QScrollbar/src/q-scrollbar.scss
  src/qComponents/QSelect/src/q-select.scss
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/q-table-t-head-cell.scss
  src/qComponents/QTextarea/src/q-textarea.scss
  src/qComponents/QUpload/src/QUploadFileMultiple/q-upload-file-multiple.scss
  src/qComponents/QUpload/src/q-upload.scss
  src/transition.scss
  stories/core/icons.scss
Due: prettier --write, stylelint --fix

refactor: lints
  .eslintignore
  .prettierignore
  .stylelintignore
  README.md
  docs/.vuepress/config.ts
  docs/.vuepress/public/QButton.html
  docs/.vuepress/public/QButton[circle].html
  docs/.vuepress/public/QButton[disabled].html
  docs/.vuepress/public/QButton[icon].html
  docs/.vuepress/public/QButton[loading].html
  docs/.vuepress/public/QButton[size].html
  docs/.vuepress/public/QButton[theme].html
  docs/.vuepress/public/QButton[type].html
  docs/README.md
  docs/components/QButton.md
  docs/guide/README.md
  docs/guide/getting-started.md
  src/qComponents/QCol/src/q-col.scss
  stories/intro.stories.mdx
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.6.1
  package.json
Due: prettier --parser json --write

feat: add netlify badge
  .storybook/manager-head.html
Due: none

refactor: add empty string
  .storybook/manager-head.html
Due: none

feat: add netlify badge (#196)
  .storybook/manager-head.html
Due: none

refactor: ignore intor for prettier
  .prettierignore
  stories/intro.stories.mdx
Due: none

docs: start QButton doc (#194)
  .eslintignore
  .github/workflows/deploy.yml
  .github/workflows/netlify.yml
  .gitignore
  .prettierignore
  .stylelintignore
  docs/.vuepress/config.ts
  docs/.vuepress/public/QButton.html
  docs/.vuepress/public/QButton[circle].html
  docs/.vuepress/public/QButton[disabled].html
  docs/.vuepress/public/QButton[icon].html
  docs/.vuepress/public/QButton[loading].html
  docs/.vuepress/public/QButton[size].html
  docs/.vuepress/public/QButton[theme].html
  docs/.vuepress/public/QButton[type].html
  docs/.vuepress/public/fonts/Gilroy-Bold.woff
  docs/.vuepress/public/fonts/Gilroy-ExtraBold.woff
  docs/.vuepress/public/fonts/Gilroy-Medium.woff
  docs/.vuepress/public/fonts/Gilroy-Regular.woff
  docs/.vuepress/public/qui-logo.svg
  docs/.vuepress/styles/index.scss
  docs/README.md
  docs/components/QButton.md
  docs/guide/README.md
  docs/guide/getting-started.md
  package.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

docs: add breadcrumbs doc
  docs/.vuepress/config.ts
  docs/.vuepress/public/QBreadcrumbs.html
  docs/.vuepress/public/QBreadcrumbs[last].html
  docs/components/QBreadcrumbs.md
  docs/components/QButton.md
Due: eslint --fix, prettier --write

refactor: margins & clean
  README.md
  docs/.vuepress/public/QBreadcrumbs.html
  docs/.vuepress/public/QBreadcrumbs[last].html
  docs/components/QBreadcrumbs.md
Due: none

build: upgrade deps
  .storybook/manager-head.html
  docs/.vuepress/public/QBreadcrumbs.html
  docs/.vuepress/public/QBreadcrumbs[last].html
  docs/components/QBreadcrumbs.md
  package.json
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

build: bump deps versions
  package.json
  yarn.lock
Due: prettier --parser json --write

fix: reprovide global AND local provides
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDrawer/src/index.ts
  src/qComponents/QMessageBox/src/index.ts
Due: eslint --fix, prettier --write

build: upgrade deps
  yarn.lock
Due: none

build: upgrade deps (#202)
  .storybook/manager-head.html
  docs/.vuepress/public/QBreadcrumbs.html
  docs/.vuepress/public/QBreadcrumbs[last].html
  docs/components/QBreadcrumbs.md
  package.json
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fix: change provides order
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDrawer/src/index.ts
  src/qComponents/QMessageBox/src/index.ts
Due: eslint --fix, prettier --write

fix: reprovide global AND local provides (#203)
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDrawer/src/index.ts
  src/qComponents/QMessageBox/src/index.ts
Due: eslint --fix, prettier --write

docs: start writing cascader doc
  docs/.vuepress/config.ts
  docs/components/QCascader.md
  docs/components/README.md
Due: eslint --fix, prettier --write
