Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue, html}": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

fix(QDatepicker): create popper only when panel element is exists (#229)
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInputNumber): do not emit change event on input (#230)
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSelect): added deep watch for modelValue
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QDatepicker): Error style (#231)
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: prettier --write, stylelint --fix

fix(QSelect): added deep watch for modelValue (#232)
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.9.0
  package.json
Due: prettier --parser json --write

fix: max date calculation in range mode
  src/qComponents/QDatePicker/src/commonTypes.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: reformat code
  src/qComponents/QDatePicker/src/panel/composition.ts
Due: eslint --fix, prettier --write

fix(QTable): do not remount all rows on one row's change
  package.json
  src/qComponents/QTable/src/QTableTBody/QTableTBody.vue
  src/qComponents/QTable/src/QTableTBody/types.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fix(QTable): do not remount all rows on one row's change (#234)
  package.json
  src/qComponents/QTable/src/QTableTBody/QTableTBody.vue
  src/qComponents/QTable/src/QTableTBody/types.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

docs: add context menu
  docs/.vuepress/config.ts
  docs/.vuepress/public/QContextMenu/main.html
  docs/.vuepress/public/QContextMenu/position.html
  docs/.vuepress/public/QContextMenu/slot.html
  docs/components/QColorpicker.md
  docs/components/QContextMenu.md
Due: eslint --fix, prettier --write

docs: fix vue script
  docs/.vuepress/public/Layout/Layout.html
  docs/.vuepress/public/Layout/Layout[qcol].html
  docs/.vuepress/public/QBreadcrumbs/last.html
  docs/.vuepress/public/QBreadcrumbs/main.html
  docs/.vuepress/public/QButton/circle.html
  docs/.vuepress/public/QButton/disabled.html
  docs/.vuepress/public/QButton/icon.html
  docs/.vuepress/public/QButton/loading.html
  docs/.vuepress/public/QButton/main.html
  docs/.vuepress/public/QButton/size.html
  docs/.vuepress/public/QButton/theme.html
  docs/.vuepress/public/QButton/type.html
  docs/.vuepress/public/QCascader/allLevelsShown.html
  docs/.vuepress/public/QCascader/checkStrictly.html
  docs/.vuepress/public/QCascader/collapseTags.html
  docs/.vuepress/public/QCascader/main.html
  docs/.vuepress/public/QCascader/multiple.html
  docs/.vuepress/public/QCascader/separator.html
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/indeterminate.html
  docs/.vuepress/public/QCheckbox/label.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckbox/validate.html
  docs/.vuepress/public/QCheckboxGroup/QCheckboxGroup.html
  docs/.vuepress/public/QCheckboxGroup/direction.html
  docs/.vuepress/public/QCheckboxGroup/disabled.html
  docs/.vuepress/public/QCheckboxGroup/max.html
  docs/.vuepress/public/QCheckboxGroup/min.html
  docs/.vuepress/public/QCollapse/accordion.html
  docs/.vuepress/public/QCollapse/main.html
  docs/.vuepress/public/QColorpicker/alpha-shown.html
  docs/.vuepress/public/QColorpicker/main.html
  docs/.vuepress/public/QColorpicker/trigger.html
  docs/.vuepress/public/QContextMenu/main.html
  docs/.vuepress/public/QContextMenu/position.html
  docs/.vuepress/public/QContextMenu/slot.html
  docs/components/QContextMenu.md
Due: none

docs: add context menu (#235)
  docs/.vuepress/config.ts
  docs/.vuepress/public/Layout/Layout.html
  docs/.vuepress/public/Layout/Layout[qcol].html
  docs/.vuepress/public/QBreadcrumbs/main.html
  docs/.vuepress/public/QButton/circle.html
  docs/.vuepress/public/QButton/disabled.html
  docs/.vuepress/public/QButton/icon.html
  docs/.vuepress/public/QButton/loading.html
  docs/.vuepress/public/QButton/main.html
  docs/.vuepress/public/QButton/size.html
  docs/.vuepress/public/QButton/theme.html
  docs/.vuepress/public/QButton/type.html
  docs/.vuepress/public/QCascader/allLevelsShown.html
  docs/.vuepress/public/QCascader/checkStrictly.html
  docs/.vuepress/public/QCascader/collapseTags.html
  docs/.vuepress/public/QCascader/main.html
  docs/.vuepress/public/QCascader/multiple.html
  docs/.vuepress/public/QCascader/separator.html
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/indeterminate.html
  docs/.vuepress/public/QCheckbox/label.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckbox/validate.html
  docs/.vuepress/public/QCheckboxGroup/QCheckboxGroup.html
  docs/.vuepress/public/QCheckboxGroup/direction.html
  docs/.vuepress/public/QCheckboxGroup/disabled.html
  docs/.vuepress/public/QCheckboxGroup/max.html
  docs/.vuepress/public/QCheckboxGroup/min.html
  docs/.vuepress/public/QCollapse/accordion.html
  docs/.vuepress/public/QCollapse/main.html
  docs/.vuepress/public/QColorpicker/alpha-shown.html
  docs/.vuepress/public/QColorpicker/main.html
  docs/.vuepress/public/QColorpicker/trigger.html
  docs/.vuepress/public/QContextMenu/main.html
  docs/.vuepress/public/QContextMenu/position.html
  docs/.vuepress/public/QContextMenu/slot.html
  docs/components/QColorpicker.md
  docs/components/QContextMenu.md
Due: eslint --fix, prettier --write

feat: test toml
  .github/workflows/netlify.yml
  netlify.toml
  package.json
Due: prettier --parser json --write, prettier --parser yaml --write

fix: change condition
  netlify.toml
Due: none

fix: config
  netlify.toml
Due: none

feat: test toml (#236)
  .github/workflows/netlify.yml
  netlify.toml
  package.json
Due: prettier --parser json --write, prettier --parser yaml --write

docs: test deploy
  netlify.toml
Due: none

feat: add new netlify config
  docs/netlify.toml
Due: none

feat: add package json to subfolder doc
  docs/netlify.toml
  docs/package.json
  netlify.toml
Due: prettier --parser json --write

fix: delete some config
  netlify.toml
Due: none

fix: add yarn.lock
  .gitignore
  vuepress-docs/yarn.lock
Due: none

feat: add note & netlify link
  vuepress-docs/docs/README.md
Due: none

Update README.md
  README.md
Due: none

fix(QOption): do not try to toggle disabled by limit option
  src/qComponents/QOption/src/QOption.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: start datepicker
  .storybook/theme.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/q-date-picker.scss
  stories/components/QDatePicker.stories.ts
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QDatepicker/format.html
  vuepress-docs/docs/.vuepress/public/QDatepicker/main.html
  vuepress-docs/docs/.vuepress/public/QDatepicker/mobile.html
  vuepress-docs/docs/components/QDatepicker.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: add props desc
  vuepress-docs/docs/.vuepress/public/QDatepicker/disabled.html
  vuepress-docs/docs/.vuepress/public/QDatepicker/firstDayOfWeek.html
  vuepress-docs/docs/components/QDatepicker.md
Due: none

fix(QTabPane): calculate correct tabWidthStyle
  src/qComponents/QTabPane/src/QTabPane.vue
  src/qComponents/QTabPane/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTabPane): calculate correct tabWidthStyle (#241)
  src/qComponents/QTabPane/src/QTabPane.vue
  src/qComponents/QTabPane/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QOption): do not try to toggle disabled by limit option (#238)
  src/qComponents/QOption/src/QOption.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QDatepicker): max date calculation in range mode (#233)
  src/qComponents/QDatePicker/src/commonTypes.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: complete datepicker
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  vuepress-docs/docs/.vuepress/public/QDatepicker/disabledValues.html
  vuepress-docs/docs/components/QDatepicker.md
Due: prettier --write, stylelint --fix

fix: daterange disable hoverstyle
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: prettier --write, stylelint --fix

fix: datepicker modelValue type
  src/qComponents/QDatePicker/src/types.ts
  vuepress-docs/docs/components/QDatepicker.md
Due: eslint --fix, prettier --write

docs: QDatepicker (#239)
  .storybook/theme.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/types.ts
  stories/components/QDatePicker.stories.ts
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QDatepicker/disabled.html
  vuepress-docs/docs/.vuepress/public/QDatepicker/disabledValues.html
  vuepress-docs/docs/.vuepress/public/QDatepicker/firstDayOfWeek.html
  vuepress-docs/docs/.vuepress/public/QDatepicker/format.html
  vuepress-docs/docs/.vuepress/public/QDatepicker/main.html
  vuepress-docs/docs/.vuepress/public/QDatepicker/mobile.html
  vuepress-docs/docs/components/QDatepicker.md
Due: eslint --fix, prettier --write, stylelint --fix
