Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

add setSelected to onMounted
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

add setSelected to onMounted (#76)
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

Fix SFCWithInstall
  src/qComponents/QBreadcrumbs/index.ts
  src/qComponents/QButton/index.ts
  src/qComponents/QCascader/index.ts
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QCol/index.ts
  src/qComponents/QCollapse/index.ts
  src/qComponents/QCollapseItem/index.ts
  src/qComponents/QColorPicker/index.ts
  src/qComponents/QContextMenu/index.ts
  src/qComponents/QDatePicker/index.ts
  src/qComponents/QDialog/index.ts
  src/qComponents/QDrawer/index.ts
  src/qComponents/QForm/index.ts
  src/qComponents/QFormItem/index.ts
  src/qComponents/QInput/index.ts
  src/qComponents/QInputNumber/index.ts
  src/qComponents/QOption/index.ts
  src/qComponents/QPagination/index.ts
  src/qComponents/QPopover/index.ts
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadioGroup/index.ts
  src/qComponents/QRow/index.ts
  src/qComponents/QScrollbar/index.ts
  src/qComponents/QSelect/index.ts
  src/qComponents/QTabPane/index.ts
  src/qComponents/QTable/index.ts
  src/qComponents/QTabs/index.ts
  src/qComponents/QTag/index.ts
  src/qComponents/QTextarea/index.ts
  src/qComponents/QUpload/index.ts
  stories/components/QBreadcrumbs.stories.ts
Due: eslint --fix, prettier --write

Fix QCascader
  src/qComponents/QCascader/index.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderColumn/types.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderDropdown/types.ts
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QCascader/src/QCascaderInput/types.ts
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderRow/types.ts
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QCascader/src/helpers/findAllLeaves.ts
  src/qComponents/QCascader/src/helpers/findFullPath.ts
  src/qComponents/QCascader/src/helpers/getChildStatuses.ts
  src/qComponents/QCascader/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Rename sticky
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QCascader/src/QCascaderTags/types.ts
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell.vue
  src/qComponents/QTable/src/helpers/sticky/index.ts
  src/qComponents/QTable/src/helpers/sticky/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

more types
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableCellCheckbox/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell.vue
  src/qComponents/QTable/src/hooks/sticky/index.ts
  src/qComponents/QTable/src/hooks/sticky/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QTableContainer
  src/qComponents/QTable/src/QTableContainer/QTableContainer.vue
  src/qComponents/QTable/src/QTableContainer/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.d.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow.d.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow.vue
  src/qComponents/QTable/src/QTableTColgroup/QTableTColgroup.d.ts
  src/qComponents/QTable/src/QTableTColgroup/QTableTColgroup.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHead.d.ts
  src/qComponents/QTable/src/QTableTHead/QTableTHead.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.d.ts
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.d.ts
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotal.d.ts
  src/qComponents/QTable/src/QTableTTotal/QTableTTotal.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell.d.ts
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

QTableEmpty
  src/qComponents/QTable/src/QTableEmpty/QTableEmpty.vue
  src/qComponents/QTable/src/QTableEmpty/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QTableT
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableT/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

QTableTColgroup
  src/qComponents/QTable/src/QTableTColgroup/QTableTColgroup.vue
  src/qComponents/QTable/src/QTableTColgroup/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QTableTSticky
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableT/types.ts
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  src/qComponents/QTable/src/QTableTSticky/types.ts
  src/qComponents/QTable/src/hooks/sticky/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

QTable
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableContainer/QTableContainer.vue
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBody.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow.vue
  src/qComponents/QTable/src/QTableTColgroup/QTableTColgroup.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHead.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotal.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell.vue
  src/qComponents/QTable/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QTableTBodyCell
  src/qComponents/QTable/src/QTableContainer/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/q-table-t-body-cell.scss
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow.vue
  src/qComponents/QTable/src/q-table.scss
  src/qComponents/QTable/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QTableTBodyRow
  src/qComponents/QTable/src/QTableTBody/QTableTBody.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/QTableTBodyRow.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/q-table-t-body-row.scss
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/types.ts
  src/qComponents/QTable/src/q-table.scss
Due: eslint --fix, prettier --write, stylelint --fix

QTableTBody
  src/qComponents/QTable/src/QTableTBody/QTableTBody.vue
  src/qComponents/QTable/src/QTableTBody/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QTableTHeadCell
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/q-table-t-head-cell.scss
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/types.ts
  src/qComponents/QTable/src/q-table.scss
Due: eslint --fix, prettier --write, stylelint --fix

QTableTHead
  src/qComponents/QTable/src/QTableTHead/QTableTHead.vue
  src/qComponents/QTable/src/QTableTHead/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QTableTTotalCell
  src/qComponents/QTable/src/QTableTTotal/QTableTTotal.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell/QTableTTotalCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell/q-table-t-total-cell.scss
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell/types.ts
  src/qComponents/QTable/src/q-table.scss
Due: eslint --fix, prettier --write, stylelint --fix

QTableTTotal
  src/qComponents/QTable/src/QTableTTotal/QTableTTotal.vue
  src/qComponents/QTable/src/QTableTTotal/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QDatePickerPanelDate
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/Date/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QDatePickerPanelDateRange
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.d.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.d.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
Due: eslint --fix, prettier --write, stylelint --fix

QDatePickerMonthRange
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QDatePickerYearRange
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QDatePickerDateTable
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QDatePickerPeriodTable
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/PeriodTable/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

QDatePicker
  src/qComponents/QDatePicker/index.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/Date/types.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/types.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/types.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/checkDisabled.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/types.ts
  stories/components/QDatePicker.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

commonTypes
  src/qComponents/QDatePicker/src/commonTypes.ts
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/types.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/types.ts
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/types.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/PeriodTable/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix import
  src/qComponents/QTable/src/QTableTHead/QTableTHead.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix path
  src/qComponents/QTable/index.ts
Due: eslint --fix, prettier --write

upd
  package.json
  src/qComponents/QCollapseItem/src/QCollapseTransition.vue
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fix delete with range selection
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write

fix ref input, fix increments
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix typing on blank input
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write

refactoring
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write, prettier --parser json --write

upd
  package.json
  src/qComponents/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write, prettier --parser json --write

upd
  package.json
  yarn.lock
Due: prettier --parser json --write

add exports
  package.json
  src/qComponents/index.ts
Due: eslint --fix, prettier --write, prettier --parser json --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.vue)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
