Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

refactor: change line-height
  src/qComponents/QTextarea/src/q-textarea.scss
Due: prettier --write, stylelint --fix

fix: do not hide placeholder if modelValue is empty array
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: rewrite array length checking without "as"
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTextarea): add disabled icon class (#164)
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/q-textarea.scss
Due: eslint --fix, prettier --write, stylelint --fix

refactor: use optional chaining
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix space, remove keypress
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QInputNumber/src/types.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSelect): show placeholder in multiple mode when value is empty array (#166)
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: update deps
  yarn.lock
Due: none

fix: edit copy to clipboard function, remove wrapperSizes, reformat code
  stories/core/Icons.stories.ts
  stories/core/icons.scss
Due: eslint --fix, prettier --write, stylelint --fix

chore: upgrade vite-plugin-dts
  yarn.lock
Due: none

feat: add icons playground
  stories/core/Icons.stories.ts
  stories/core/icons.scss
  stories/core/icons.stories.mdx
  stories/core/playground.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: reformat code
  stories/core/icons.scss
  stories/core/playground.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

build: upgrade deps
  .storybook/main.ts
  package.json
  src/qComponents/QDialog/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

fix: copypast with keyboard combinations, when enter a point cursor will move by a point
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: copy-past do not use navigator
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: add input check for route, formatting
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  stories/components/QBreadcrumbs.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(storybook): add story with icon list (#165)
  stories/core/Icons.stories.ts
  stories/core/icons.scss
  stories/core/icons.stories.mdx
  stories/core/playground.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: change condition for route
  stories/components/QBreadcrumbs.stories.ts
Due: eslint --fix, prettier --write

fix: additional formatting
  stories/components/QBreadcrumbs.stories.ts
Due: eslint --fix, prettier --write

fix: selection without prefix and suffix
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: change linkComponent
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: disable linkComponent control
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/types.ts
  stories/components/QBreadcrumbs.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix getValueWithoutAdditions,arrows,selection,deleting selection when last symbol is -
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: additional formatting
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  stories/components/QBreadcrumbs.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix updating value when there is decimal in selection, arrows with ctrl/cmd
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: update deps (#167)
  .storybook/main.ts
  package.json
  src/qComponents/QDialog/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

fix: fix cursor position when selected whole value with decimal and new number entered
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix types
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: cursor position if value > maxValue, add ability to start input with 0 if there is precision
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add ability to start input with -0., fix entering number when selected part with decimal
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix cursor position if value > max and there not precision
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix cursor when key is Delete and useGrouping is true
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write

fix: fix pasting value that > max or < min
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix backspace in grouped number
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write

feat: add new icons q-icon-archive-fill q-icon-book-fill q-icon-database-arrow-left-fill
  src/icons/icons.scss
  src/icons/qicon.woff
  src/icons/svg/archive-fill.svg
  src/icons/svg/book-fill.svg
  src/icons/svg/database-arrow-left-fill.svg
  stories/core/iconsList.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add new icons q-icon-archive-fill q-icon-book-fill q-icon-database-arrow-left-fill (#180)
  src/icons/icons.scss
  src/icons/qicon.woff
  src/icons/svg/archive-fill.svg
  src/icons/svg/book-fill.svg
  src/icons/svg/database-arrow-left-fill.svg
  stories/core/iconsList.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add input check for route, formatting (#170)
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  stories/components/QBreadcrumbs.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix localization
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix disabling increase/decrease buttons when step < 0
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.vue)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
