Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

fix: reset letter-spacing for icons
  src/icons/icons.scss
Due: prettier --write, stylelint --fix

fix: change icons font file
  src/icons/qicon.woff
Due: none

fix: use origin icons size for btn loading
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix: use correct icon for q-icon-cart
  src/icons/icons.scss
  src/icons/qicon.woff
Due: prettier --write, stylelint --fix

fix: prevent icons bouncing (#150)
  src/icons/icons.scss
  src/icons/qicon.woff
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

build: Bump dependencies
  package.json
  yarn.lock
Due: prettier --parser json --write

build: Bump eslint
  package.json
  yarn.lock
Due: prettier --parser json --write

build: write full version of package in package.json, setup eslint
  .eslintrc
  package.json
  yarn.lock
Due: prettier --parser json --write

fix: replace chain icon
  src/icons/qicon.woff
Due: none

docs: sort icons alphabetically
  stories/core/iconsList.ts
Due: eslint --fix, prettier --write

fix: fix async-validator usages in qForm and qFormItem, replace types
  src/qComponents/QForm/src/QForm.vue
  src/qComponents/QForm/src/types.ts
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: redo chain icon (#153)
  src/icons/qicon.woff
  stories/core/iconsList.ts
Due: eslint --fix, prettier --write

build: remove webpack from package.json, setup eslint
  .eslintrc
  package.json
Due: prettier --parser json --write

build: generate yarn lock file
  yarn.lock
Due: none

build: fix scripts in package.json
  .eslintignore
  package.json
Due: prettier --parser json --write

fix: disable no-console rule for cases in stories
  stories/components/QPopover.stories.ts
Due: eslint --fix, prettier --write

build: upgrade nodejs version up to 14.17.6
  .nvmrc
Due: prettier --parser json --write

build: bump all dependencies to latest versions (#152)
  .eslintignore
  .eslintrc
  .nvmrc
  package.json
  src/qComponents/QForm/src/QForm.vue
  src/qComponents/QForm/src/types.ts
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
  stories/components/QPopover.stories.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fix: remove outline in firefox, use focus-visible polyfill in QCollapseItem
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
Due: prettier --write, stylelint --fix

fix: comb focus styles
  src/qComponents/QCascader/src/QCascaderRow/q-cascader-row.scss
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QTag/src/q-tag.scss
Due: prettier --write, stylelint --fix

fix: correct focus behavior in QCollapseItem (#155)
  src/qComponents/QCascader/src/QCascaderRow/q-cascader-row.scss
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QTag/src/q-tag.scss
Due: prettier --write, stylelint --fix

fix: wip update state on mousedown
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: replace <Preview> to <Canvas> in icons.stories and QProgressIndicatior.stories
  stories/core/icons.stories.mdx
  stories/plugins/QProgressIndicatior/QProgressIndicatior.stories.mdx
Due: none

fix: replace Preview to Canvas in icons and QProgressIndicatior stories (#158)
  stories/core/icons.stories.mdx
  stories/plugins/QProgressIndicatior/QProgressIndicatior.stories.mdx
Due: none

fix: wip handle mouseup on close
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add mousedown and mouseup methods
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: allow use components with SSR
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QNotification/src/index.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QProgressIndicatior/src/index.ts
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/constants/isServer.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: close dropdown on click outside
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove mouseup handler
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add pointer-events none to suffix-inner, add pointer-events all to action icons
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

fix: formatting
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: rename variables, formatting
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: prevent close color picker's dropdown on outside mousedown (#156)
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: allow use dialog, drawer and messageBox with SSR
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QMessageBox/src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: clicking on suffix-icon makes input focused when suffix-icon is not slot
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QSelect/src/q-select.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: correct bem modifier
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/q-input.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: use correct icon for disabled state in input and textarea
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QTextarea/src/q-textarea.scss
Due: prettier --write, stylelint --fix

fix: add hasSlot to qinput, replace logic (add pinter events if only there is a slot)
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QInput/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove suffix-inner block
  src/qComponents/QCascader/src/QCascaderInput/q-cascader-input.scss
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QInput/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  stories/components/QColorPicker.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: combine focus styles
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix
