Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update intro story (#122)
  .github/workflows/netlify.yml
  README.md
  stories/intro.stories.mdx
Due: prettier --parser yaml --write

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

rename QProgressBar to QProgressIndicatior
  src/components.scss
  src/qComponents/QProgressBar/index.ts
  src/qComponents/QProgressBar/src/QProgressBarContainer/index.ts
  src/qComponents/QProgressBar/src/QProgressBarContainer/types.ts
  src/qComponents/QProgressBar/src/q-progress-bar.scss
  src/qComponents/QProgressIndicatior/index.ts
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/QProgressIndicatiorContainer.vue
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/index.ts
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/q-progress-indicatior-container.scss
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/types.ts
  src/qComponents/QProgressIndicatior/src/constants.ts
  src/qComponents/QProgressIndicatior/src/index.ts
  src/qComponents/QProgressIndicatior/src/q-progress-indicatior.scss
  src/qComponents/QProgressIndicatior/src/types.ts
  src/qComponents/QProgressIndicatior/src/utils.ts
  src/qComponents/index.ts
  stories/components/QProgressBar.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

add types
  src/qComponents/QProgressIndicatior/index.ts
  src/qComponents/locale/index.ts
Due: eslint --fix, prettier --write

upd
  stories/components/QProgressIndicatior.stories.ts
Due: eslint --fix, prettier --write

upds
  src/qComponents/QProgressIndicatior/src/index.ts
Due: eslint --fix, prettier --write

upd docs
  README.md
Due: none

upd
  README.md
Due: none

Upd docs
  src/qComponents/QProgressIndicatior/src/types.ts
  stories/components/QProgressIndicatior/QProgressIndicatior.stories.mdx
  stories/components/QProgressIndicatior/Template.ts
  stories/intro.stories.mdx
Due: eslint --fix, prettier --write

Move plugins
  stories/plugins/QMessageBox/Component.stories.ts
  stories/plugins/QMessageBox/Default.stories.ts
  stories/plugins/QMessageBox/Extended.stories.ts
  stories/plugins/QMessageBox/MessageBoxFormTest.vue
  stories/plugins/QNotification.stories.ts
  stories/plugins/QProgressIndicatior/QProgressIndicatior.stories.mdx
  stories/plugins/QProgressIndicatior/Template.ts
Due: eslint --fix, prettier --write, stylelint --fix

[QProgressIndicatior] Add component (#115)
  README.md
  src/components.scss
  src/qComponents/QProgressIndicatior/index.ts
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/QProgressIndicatiorContainer.vue
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/index.ts
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/q-progress-indicatior-container.scss
  src/qComponents/QProgressIndicatior/src/QProgressIndicatiorContainer/types.ts
  src/qComponents/QProgressIndicatior/src/constants.ts
  src/qComponents/QProgressIndicatior/src/index.ts
  src/qComponents/QProgressIndicatior/src/q-progress-indicatior.scss
  src/qComponents/QProgressIndicatior/src/types.ts
  src/qComponents/QProgressIndicatior/src/utils.ts
  src/qComponents/index.ts
  src/qComponents/locale/index.ts
  stories/intro.stories.mdx
  stories/plugins/QMessageBox/Component.stories.ts
  stories/plugins/QMessageBox/Default.stories.ts
  stories/plugins/QMessageBox/Extended.stories.ts
  stories/plugins/QMessageBox/MessageBoxFormTest.vue
  stories/plugins/QNotification.stories.ts
  stories/plugins/QProgressIndicatior/QProgressIndicatior.stories.mdx
  stories/plugins/QProgressIndicatior/Template.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix cascader story
  stories/components/QCascader.stories.ts
Due: eslint --fix, prettier --write

Update netlify.yml
  .github/workflows/netlify.yml
Due: prettier --parser yaml --write

Update dependabot.yml
  .github/dependabot.yml
Due: prettier --parser yaml --write

delete action
  .github/workflows/netlify.yml
Due: prettier --parser yaml --write

change dependabot settings
  .github/dependabot.yml
Due: prettier --parser yaml --write

change dependabot settings (#132)
  .github/dependabot.yml
Due: prettier --parser yaml --write

Create netlify.yml
  .github/workflows/netlify.yml
Due: prettier --parser yaml --write

change animation
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: eslint --fix, prettier --write, stylelint --fix

change animation (#135)
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix controls
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix storybook controls
  .husky/_/husky.sh
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write

change control
  stories/core/icons.stories.mdx
Due: none

fix regexp
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write

change control (#136)
  stories/core/icons.stories.mdx
Due: none

fix number before minus
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

wip
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/tables/period-table.scss
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QDialog/src/QDialog.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix regexp for prefix/suffix, fix long nums
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

wip
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: eslint --fix, prettier --write, stylelint --fix

add mobile range
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: eslint --fix, prettier --write, stylelint --fix

bump v
  package.json
Due: prettier --parser json --write

done
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/Date/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/types.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/types.ts
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDialog/src/types.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

close picker on mobile watcher
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactoring
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/q-picker-panel.scss
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/q-dialog.scss
Due: eslint --fix, prettier --write, stylelint --fix

add hooks & helpers
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/types.ts
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/types.ts
  src/qComponents/QDatePicker/src/panel/YearRange/types.ts
  src/qComponents/QDatePicker/src/panel/q-picker-panel.scss
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/isTouchDevice.ts
  src/qComponents/hooks/helpers.ts
  src/qComponents/hooks/index.ts
  src/qComponents/hooks/useMediaQuery/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.vue)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
