Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

remove resize-observer-polyfill
  package.json
  src/qComponents/hooks/useResizeListener/index.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

config types
  src/qComponents/config.ts
Due: eslint --fix, prettier --write

WIP:Create dts (#75)
  package.json
  src/qComponents/QCollapseItem/src/QCollapseTransition.vue
  src/qComponents/config.ts
  src/qComponents/hooks/useResizeListener/index.ts
  src/qComponents/index.ts
  tsconfig.json
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

wip
  .github/deploy.yml
  .readme-assets/buttons.jpg
  .readme-assets/datepicker.jpg
  .readme-assets/icons.gif
  .readme-assets/inputs.gif
  .readme-assets/other.jpg
  .readme-assets/qui-logo.png
  .readme-assets/qui-logo.svg
  .readme-assets/tables.jpg
  .storybook/main.ts
  .storybook/theme.ts
  README.md
Due: eslint --fix, prettier --write, prettier --parser yaml --write

fix config
  src/qComponents/config.ts
Due: eslint --fix, prettier --write

Throw customI18nMessages into message box
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/constants/locales/index.ts
  src/qComponents/index.ts
Due: eslint --fix, prettier --write

upd
  src/qComponents/constants/locales/index.ts
  src/qComponents/index.ts
  src/qComponents/types.ts
Due: eslint --fix, prettier --write

upd
  src/qComponents/config.ts
Due: eslint --fix, prettier --write

upd
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QNotification/src/index.ts
Due: eslint --fix, prettier --write

upd
  src/qComponents/constants/locales/index.ts
Due: eslint --fix, prettier --write

upd
  src/qComponents/QCollapseItem/src/QCollapseTransition.vue
  src/qComponents/QCollapseItem/src/types.ts
  src/qComponents/QUpload/src/QUploadFileMultiple.vue
  src/qComponents/QUpload/src/QUploadFileSingle.vue
  src/qComponents/QUpload/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

add types
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/constants.ts
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/checkDisabled.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
Due: eslint --fix, prettier --write, stylelint --fix

refact
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/q-color-alpha-slider.scss
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/q-color-hue-slider.scss
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/q-color-svpanel.scss
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/q-picker-dropdown.scss
  src/qComponents/QColorPicker/src/q-color-picker.scss
Due: eslint --fix, prettier --write, stylelint --fix

decomposition
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/types.ts
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/types.ts
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
  src/qComponents/QColorPicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/index.ts
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/index.ts
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/index.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/index.ts
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/QColorPicker/src/utils/draggable.ts
Due: eslint --fix, prettier --write, stylelint --fix

refact QUpload
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QColorPicker/src/q-color-picker.scss
  src/qComponents/QSelect/src/q-select.scss
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
  src/qComponents/QUpload/src/QUploadDropZone/index.ts
  src/qComponents/QUpload/src/QUploadDropZone/q-upload-drop-zone.scss
  src/qComponents/QUpload/src/QUploadDropZone/types.ts
  src/qComponents/QUpload/src/QUploadFileMultiple/QUploadFileMultiple.vue
  src/qComponents/QUpload/src/QUploadFileMultiple/index.ts
  src/qComponents/QUpload/src/QUploadFileMultiple/q-upload-file-multiple.scss
  src/qComponents/QUpload/src/QUploadFileMultiple/types.ts
  src/qComponents/QUpload/src/QUploadFileSingle/QUploadFileSingle.vue
  src/qComponents/QUpload/src/QUploadFileSingle/index.ts
  src/qComponents/QUpload/src/QUploadFileSingle/q-upload-file-single.scss
  src/qComponents/QUpload/src/QUploadFileSingle/types.ts
  src/qComponents/QUpload/src/q-upload.scss
  src/qComponents/QUpload/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
  src/qComponents/QUpload/src/QUploadFileMultiple/QUploadFileMultiple.vue
  src/qComponents/QUpload/src/QUploadFileSingle/QUploadFileSingle.vue
Due: eslint --fix, prettier --write, stylelint --fix

upd
  src/qComponents/helpers/index.ts
Due: eslint --fix, prettier --write

nullable
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  src/qComponents/QTextarea/src/calcTextareaHeight.ts
Due: eslint --fix, prettier --write, stylelint --fix

optional
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/types.ts
  src/qComponents/QCollapse/src/types.ts
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QForm/src/types.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell/QTableTHeadCell.vue
  src/qComponents/QTable/src/hooks/sticky/index.ts
  src/qComponents/QTextarea/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

add UnwrappedInstance
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/types.ts
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QMessageBox/src/types.ts
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableT/types.ts
  stories/components/QForm.stories.ts
  types/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
Due: eslint --fix, prettier --write, stylelint --fix

events
  src/qComponents/QNotification/src/QNotificationContainer/QNotificationContainer.vue
  src/qComponents/QNotification/src/QNotificationToast/QNotificationToast.vue
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadFileMultiple/QUploadFileMultiple.vue
  src/qComponents/QUpload/src/QUploadFileSingle/QUploadFileSingle.vue
  src/qComponents/constants/events.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix #47
  stories/Layout/Layout.stories.ts
  stories/Layout/QCol.stories.ts
  stories/Layout/QRow.stories.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
  stories/components/QCascader.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup/Default.ts
  stories/components/QCheckboxGroup/Indeterminate.ts
  stories/components/QCheckboxGroup/QCheckboxGroup.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDatePicker.stories.ts
  stories/components/QDialog.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QForm.stories.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QMessageBox/Component.ts
  stories/components/QMessageBox/ComponentExtended.ts
  stories/components/QMessageBox/Default.ts
  stories/components/QMessageBox/QMessageBox.stories.ts
  stories/components/QNotification.stories.ts
  stories/components/QPagination.stories.ts
  stories/components/QPopover.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
  stories/components/QSelect.stories.ts
  stories/components/QTabPane.stories.ts
  stories/components/QTable/Default.ts
  stories/components/QTable/QTable.stories.ts
  stories/components/QTabs.stories.ts
  stories/components/QTag.stories.ts
  stories/components/QTextarea.stories.ts
  stories/components/QUpload/Default.ts
  stories/components/QUpload/Multiple.ts
  stories/components/QUpload/QUpload.stories.ts
  stories/core/icons.stories.mdx
Due: eslint --fix, prettier --write

wip
  .readme-assets/buttons.jpg
  .readme-assets/datepicker.jpg
  .readme-assets/icons.gif
  .readme-assets/inputs.gif
  .readme-assets/other.jpg
  .readme-assets/qui-logo.png
  .readme-assets/qui-logo.svg
  .readme-assets/tables.jpg
  .storybook/main.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
  stories/components/QCascader.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup/Default.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDatePicker.stories.ts
  stories/components/QDialog.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QForm.stories.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QNotification.stories.ts
  stories/components/QPagination.stories.ts
  yarn.lock
Due: eslint --fix, prettier --write

wip
  .storybook/main.ts
  .storybook/theme.ts
  stories/components/QCheckboxGroup/Default.ts
Due: eslint --fix, prettier --write

optimize bundle
  vite.config.ts
Due: eslint --fix, prettier --write

up node version
  .nvmrc
Due: prettier --parser json --write

wip
  .storybook/preview.ts
  stories/Layout/Layout.stories.ts
  stories/Layout/QCol.stories.ts
  stories/Layout/QRow.stories.ts
Due: eslint --fix, prettier --write

wip
  .readme-assets/buttons.jpg
  .readme-assets/datepicker.jpg
  .readme-assets/icons.gif
  .readme-assets/inputs.gif
  .readme-assets/other.jpg
  .readme-assets/qui-logo.png
  .readme-assets/qui-logo.svg
  .readme-assets/tables.jpg
  .storybook/main.ts
  .storybook/manager.ts
  .storybook/theme.ts
  README.md
  package.json
Due: eslint --fix, prettier --write, prettier --parser json --write

enable sourcemap
  vite.config.ts
Due: eslint --fix, prettier --write

remove vue-i18n alias
  vite.config.ts
Due: eslint --fix, prettier --write

Enable sourcemap & remove vue-i18n alias (#85)
  vite.config.ts
Due: eslint --fix, prettier --write

bump v
  package.json
Due: prettier --parser json --write

wip
  .github/deploy.yml
Due: prettier --parser yaml --write

wip
  stories/components/QNotification.stories.ts
  stories/components/QPagination.stories.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.vue)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
