Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write, prettier --parser yaml --write

wip
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/index.js
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QDrawer] Migrate to TS + Vue3 + Composition API (#16)
  src/components.scss
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/q-drawer.scss
  src/qComponents/index.ts
  stories/components/QDrawer.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

stylelint
  .stylelintrc
  package.json
  src/fonts/index.scss
  src/icons/index.scss
  src/main.scss
  src/qComponents/QBreadcrumbs/src/q-breadcrumbs.scss
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QCollapse/src/q-collapse.scss
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
  src/qComponents/QColorPicker/src/q-color-alpha-slider.scss
  src/qComponents/QColorPicker/src/q-color-picker.scss
  src/qComponents/QColorPicker/src/q-color-svpanel.scss
  src/qComponents/QForm/src/q-form.scss
  src/qComponents/QFormItem/src/q-form-item.scss
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QMessageBox/src/q-message-box.scss
  src/qComponents/QPagination/src/q-pagination.scss
  src/qComponents/QScrollbar/src/q-scrollbar.scss
  src/qComponents/QTabPane/src/q-tab-pane.scss
  src/qComponents/QTag/src/q-tag.scss
  src/qComponents/QTextarea/src/q-textarea.scss
  src/transition.scss
  src/vars.scss
  stories/Layout/layout.scss
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser json --write

[QInputNumber] Migrate to TS + Vue3 + Composition API (#14)
  src/qComponents/QInput/src/types.ts
  src/qComponents/QInputNumber/index.ts
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/index.ts
  stories/components/QInputNumber.stories.ts
  tsconfig.json
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

Add husky and lint-staged
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  package.json
  yarn.lock
Due: prettier --parser json --write

remove old script
  package.json
Due: prettier --parser json --write

format
  src/qComponents/QDrawer/src/q-drawer.scss
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[Stylelint, Prettier] Apply remote configs (#17)
  .husky/.gitignore
  .husky/pre-commit
  .lintstagedrc
  .prettierrc
  .stylelintrc
  package.json
  src/fonts/index.scss
  src/icons/index.scss
  src/main.scss
  src/qComponents/QBreadcrumbs/src/q-breadcrumbs.scss
  src/qComponents/QButton/src/q-button.scss
  src/qComponents/QCollapse/src/q-collapse.scss
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
  src/qComponents/QColorPicker/src/q-color-alpha-slider.scss
  src/qComponents/QColorPicker/src/q-color-picker.scss
  src/qComponents/QColorPicker/src/q-color-svpanel.scss
  src/qComponents/QDrawer/src/q-drawer.scss
  src/qComponents/QForm/src/q-form.scss
  src/qComponents/QFormItem/src/q-form-item.scss
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QMessageBox/src/q-message-box.scss
  src/qComponents/QPagination/src/q-pagination.scss
  src/qComponents/QScrollbar/src/q-scrollbar.scss
  src/qComponents/QTabPane/src/q-tab-pane.scss
  src/qComponents/QTag/src/q-tag.scss
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/calcTextareaHeight.ts
  src/qComponents/QTextarea/src/q-textarea.scss
  src/transition.scss
  src/vars.scss
  stories/Layout/layout.scss
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

Add QRadio and QRadioGroup
  src/components.scss
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadio/src/q-radio.scss
  src/qComponents/QRadioGroup/index.ts
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QRadioGroup/src/q-radio-group.scss
  src/qComponents/QRadioGroup/src/types.ts
  src/qComponents/QTabs/src/QTabs.vue
  src/qComponents/index.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Add QContextMenu
  src/components.scss
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QContextMenu/index.ts
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/q-context-menu.scss
  src/qComponents/QContextMenu/src/types.ts
  src/qComponents/index.ts
  stories/components/QContextMenu.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix args
  stories/components/QContextMenu.stories.ts
Due: prettier --write

wip
  src/qComponents/QContextMenu/src/QContextMenu.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

wip
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCheckboxGroup/src/types.ts
  src/qComponents/index.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

lint
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCheckboxGroup/src/types.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Add QPopover
  src/components.scss
  src/qComponents/QPopover/index.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QPopover/src/q-popover.scss
  src/qComponents/constants/popperPlacements.ts
  src/qComponents/index.ts
  stories/components/QPopover.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

wip
  src/qComponents/QCheckbox/src/q-checkbox.scss
Due: prettier --write, stylelint --fix

fixes
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/index.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fixes
  src/qComponents/QCheckbox/src/q-checkbox.scss
Due: prettier --write, stylelint --fix

QCheckbox (#20)
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/q-checkbox.scss
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCheckboxGroup/src/q-checkbox-group.scss
  src/qComponents/QCheckboxGroup/src/types.ts
  src/qComponents/index.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

upd by comments
  src/qComponents/QRadio/src/QRadio.vue
  stories/components/QRadio.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fix
  stories/components/QRadio.stories.ts
Due: prettier --write

fix watch
  src/qComponents/QContextMenu/src/QContextMenu.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refact
  src/qComponents/QContextMenu/src/QContextMenu.vue
Due: stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QRadio, QRadioGroup] Migrate to TS + Vue3 + Composition API (#18)
  src/components.scss
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadio/src/q-radio.scss
  src/qComponents/QRadioGroup/index.ts
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QRadioGroup/src/q-radio-group.scss
  src/qComponents/QRadioGroup/src/types.ts
  src/qComponents/QTabs/src/QTabs.vue
  src/qComponents/index.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

[QContextMenu] Migrate to TS + Vue3 + Composition API (#19)
  src/components.scss
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QContextMenu/index.ts
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/q-context-menu.scss
  src/qComponents/QContextMenu/src/types.ts
  src/qComponents/index.ts
  stories/components/QContextMenu.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

fixes
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

refact
  package.json
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/constants/locales/en.ts
  src/qComponents/constants/locales/index.ts
  src/qComponents/constants/locales/ru.ts
  src/qComponents/index.ts
  stories/components/QColorPicker.stories.ts
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

wip
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QInput/src/types.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Refact
  .storybook/locales/en.ts
  .storybook/locales/index.ts
  .storybook/locales/ru.ts
  .storybook/preview.ts
  src/main.scss
  src/qComponents/QBreadcrumbs/index.ts
  src/qComponents/QForm/index.ts
  src/qComponents/index.ts
  stories/Layout/Layout.stories.ts
  stories/Layout/QCol.stories.ts
  stories/Layout/QRow.stories.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QForm.stories.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QMessageBox/QMessageBox.stories.ts
  stories/components/QPagination.stories.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
  stories/components/QTabPane.stories.ts
  stories/components/QTabs.stories.ts
  stories/components/QTag.stories.ts
  stories/components/QTextarea.stories.ts
Due: prettier --write, stylelint --fix

fix locale
  .storybook/locales/en.ts
  .storybook/locales/ru.ts
Due: prettier --write

Add Story type
  stories/Layout/Layout.stories.ts
  stories/Layout/QCol.stories.ts
  stories/Layout/QRow.stories.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QForm.stories.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QMessageBox/QMessageBox.stories.ts
  stories/components/QPagination.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
  stories/components/QTabPane.stories.ts
  stories/components/QTabs.stories.ts
  stories/components/QTag.stories.ts
  stories/components/QTextarea.stories.ts
Due: prettier --write

define component in stories
  stories/Layout/Layout.stories.ts
  stories/Layout/QCol.stories.ts
  stories/Layout/QRow.stories.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup.stories.ts
  stories/components/QCheckboxGroup/Default.ts
  stories/components/QCheckboxGroup/Indeterminate.ts
  stories/components/QCheckboxGroup/QCheckboxGroup.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QForm.stories.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QMessageBox/Component.ts
  stories/components/QMessageBox/Default.ts
  stories/components/QMessageBox/QMessageBox.stories.ts
  stories/components/QPagination.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
  stories/components/QTabPane.stories.ts
  stories/components/QTabs.stories.ts
  stories/components/QTag.stories.ts
  stories/components/QTextarea.stories.ts
Due: prettier --write

add meta type in stories
  stories/Layout/Layout.stories.ts
  stories/Layout/QCol.stories.ts
  stories/Layout/QRow.stories.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QForm.stories.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QPagination.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
  stories/components/QTabPane.stories.ts
  stories/components/QTabs.stories.ts
  stories/components/QTag.stories.ts
  stories/components/QTextarea.stories.ts
Due: prettier --write

Add QPopover (#21)
  src/components.scss
  src/qComponents/QPopover/index.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QPopover/src/q-popover.scss
  src/qComponents/constants/popperPlacements.ts
  src/qComponents/index.ts
  stories/components/QPopover.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Update QPopover
  src/qComponents/QPopover/index.ts
  src/qComponents/QPopover/src/QPopover.vue
  stories/components/QPopover.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

add more types
  .eslintrc
  global.d.ts
  src/qComponents/QBreadcrumbs/index.ts
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/types.ts
  src/qComponents/QButton/QButton.test.js
  src/qComponents/QButton/index.ts
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/types.ts
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCheckboxGroup/src/types.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore, prettier --parser json --write

wip
  .storybook/preview.ts
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser vue --write, eslint --fix --no-ignore

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.scss)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser vue --write: any of: *.vue
  eslint --fix --no-ignore: any of: *.vue
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
