Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

fix qmessagebox
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

export locale
  src/qComponents/index.ts
Due: eslint --fix, prettier --write

upd
  .storybook/preview.ts
  README.md
  src/qComponents/index.ts
  src/qComponents/locale/index.ts
  src/qComponents/types.ts
  stories/intro.stories.mdx
Due: eslint --fix, prettier --write

upd
  src/qComponents/locale/index.ts
Due: eslint --fix, prettier --write

fix status border
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/q-table-t-body-row.scss
Due: prettier --write, stylelint --fix

Fixs
  package.json
  src/qComponents/QTable/src/QTableContainer/QTableContainer.vue
  src/qComponents/QTable/src/QTableContainer/q-table-container.scss
  src/qComponents/QTable/src/QTableContainer/types.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableT/q-table-t.scss
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

Fix input suffix styles (#108)
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

Drop vue-i18n as dependence (#106)
  .storybook/preview.ts
  README.md
  package.json
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/Date/types.ts
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QNotification/src/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableEmpty/QTableEmpty.vue
  src/qComponents/QTable/src/QTableEmpty/types.ts
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/types.ts
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
  src/qComponents/QUpload/src/QUploadFileMultiple/QUploadFileMultiple.vue
  src/qComponents/config.ts
  src/qComponents/constants/locales/index.ts
  src/qComponents/index.ts
  src/qComponents/locale/index.ts
  src/qComponents/types.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/intro.stories.mdx
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

upd deps
  .husky/.gitignore
  package.json
  yarn.lock
Due: prettier --parser json --write

[QTable] Fix sticky and status border in Safari (#109)
  .husky/.gitignore
  package.json
  src/qComponents/QTable/src/QTableContainer/QTableContainer.vue
  src/qComponents/QTable/src/QTableContainer/q-table-container.scss
  src/qComponents/QTable/src/QTableContainer/types.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableT/q-table-t.scss
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/q-table-t-body-row.scss
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

bump v
  package.json
Due: prettier --parser json --write

[QInput] Fix input type when passwordSwitch is true
  src/qComponents/QInput/src/QInput.vue
Due: eslint --fix, prettier --write, stylelint --fix

[QInput] Fix input type when passwordSwitch is true (#110)
  src/qComponents/QInput/src/QInput.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix emits
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QPagination/src/QPagination.vue
  stories/components/QCascader.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDatePicker.stories.ts
  stories/components/QSelect.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix emits
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.vue
  src/qComponents/QNotification/src/QNotificationToast/QNotificationToast.vue
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTabs/src/QTabs.vue
  src/qComponents/QTag/src/QTag.vue
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QUpload/src/QUpload.vue
  stories/components/QDatePicker.stories.ts
  stories/components/QDialog.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QPopover.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QSelect.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix emits
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
Due: eslint --fix, prettier --write, stylelint --fix

Create netlify.yml
  .github/workflows/netlify.yml
Due: prettier --parser yaml --write

Update netlify.yml
  .github/workflows/netlify.yml
Due: prettier --parser yaml --write

fixes
  src/qComponents/QCascader/src/QCascader.vue
  stories/components/QCascader.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix emits (#111)
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.vue
  src/qComponents/QNotification/src/QNotificationToast/QNotificationToast.vue
  src/qComponents/QPagination/src/QPagination.vue
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTabs/src/QTabs.vue
  src/qComponents/QTag/src/QTag.vue
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QUpload/src/QUpload.vue
  stories/components/QCascader.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDatePicker.stories.ts
  stories/components/QDialog.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QPopover.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QSelect.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

Update README.md
  README.md
Due: none

Add base
  src/components.scss
  src/qComponents/QProgressBar/index.ts
  src/qComponents/QProgressBar/src/QProgressBarContainer/QProgressBarContainer.vue
  src/qComponents/QProgressBar/src/QProgressBarContainer/index.ts
  src/qComponents/QProgressBar/src/QProgressBarContainer/q-progress-bar-container.scss
  src/qComponents/QProgressBar/src/QProgressBarContainer/types.ts
  src/qComponents/QProgressBar/src/constants.ts
  src/qComponents/QProgressBar/src/index.ts
  src/qComponents/QProgressBar/src/q-progress-bar.scss
  src/qComponents/QProgressBar/src/types.ts
  src/qComponents/index.ts
  stories/components/QProgressBar.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix logics
  src/qComponents/QProgressBar/src/QProgressBarContainer/QProgressBarContainer.vue
  src/qComponents/QProgressBar/src/QProgressBarContainer/q-progress-bar-container.scss
  src/qComponents/QProgressBar/src/QProgressBarContainer/types.ts
  src/qComponents/QProgressBar/src/constants.ts
  src/qComponents/QProgressBar/src/index.ts
  src/qComponents/QProgressBar/src/types.ts
  src/qComponents/QProgressBar/src/utils.ts
  stories/components/QProgressBar.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  src/qComponents/QProgressBar/src/QProgressBarContainer/q-progress-bar-container.scss
  src/qComponents/QProgressBar/src/constants.ts
  src/qComponents/QProgressBar/src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  src/qComponents/QProgressBar/index.ts
  src/qComponents/QProgressBar/src/index.ts
Due: eslint --fix, prettier --write

rebuild
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/types.ts
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

update intro
  stories/intro.stories.mdx
Due: none

update story
  stories/intro.stories.mdx
Due: none

up
  README.md
  stories/intro.stories.mdx
Due: none

up
  .github/workflows/netlify.yml
Due: prettier --parser yaml --write

fx
  .github/workflows/netlify.yml
Due: prettier --parser yaml --write
