Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["prettier --write", "eslint --fix"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

Done base drag logic
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QTable/src/QTableT/QTableT.d.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTHead/q-table-t-head-cell.scss
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/resizeEvent.ts
Due: prettier --write, eslint --fix, stylelint --fix

Remove legacy css transitions (#41)
  src/transition.scss
Due: prettier --write, stylelint --fix

Add dummy
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTHead/q-table-t-head-cell.scss
Due: prettier --write, eslint --fix, stylelint --fix

Prevent default selection logic
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
Due: eslint --fix, stylelint --fix

Fix typo
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
Due: eslint --fix, stylelint --fix

Add animation to QCascader
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
  src/qComponents/QCascader/src/q-cascader.scss
Due: prettier --write, eslint --fix, stylelint --fix

wip
  src/qComponents/QDatePicker/index.ts
  src/qComponents/QDatePicker/src/Common.ts
  src/qComponents/QDatePicker/src/QDatePicker.d.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.d.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.d.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.d.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.d.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/panel/types.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.d.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/MonthTable/MonthTable.d.ts
  src/qComponents/QDatePicker/src/tables/MonthTable/MonthTable.vue
  src/qComponents/QDatePicker/src/tables/YearTable/YearTable.d.ts
  src/qComponents/QDatePicker/src/tables/YearTable/YearTable.vue
  src/qComponents/QDatePicker/src/tables/composition.ts
  src/qComponents/QDatePicker/src/tables/types.ts
  src/qComponents/QDatePicker/src/types.ts
Due: prettier --write, eslint --fix, stylelint --fix

wip
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
Due: eslint --fix, stylelint --fix

wip
  src/qComponents/QDatePicker/src/QDatePicker.d.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.d.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.d.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.d.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/styles/picker-panel.scss
  src/qComponents/QDatePicker/src/styles/picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/tables/MonthTable/MonthTable.vue
  src/qComponents/QDatePicker/src/tables/MonthTable/month-table.scss
  src/qComponents/QDatePicker/src/tables/YearTable/year-table.scss
Due: prettier --write, eslint --fix, stylelint --fix

Add more animations
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/q-color-hue-slider.scss
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/types.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/q-dialog.scss
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/q-message-box.scss
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QTextarea/src/QTextarea.vue
  src/transition.scss
  src/vars.scss
Due: prettier --write, eslint --fix, stylelint --fix

Fix drawer animations
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/q-drawer.scss
Due: prettier --write, eslint --fix, stylelint --fix

Decrease slide
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
  src/transition.scss
Due: prettier --write, stylelint --fix

Add animation to select dropdown
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QNotification/src/q-notification.scss
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/q-select-dropdown.scss
  src/qComponents/QSelect/src/q-select.scss
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QUpload/src/q-upload-file-multiple.scss
  src/qComponents/QUpload/src/q-upload.scss
Due: prettier --write, eslint --fix, stylelint --fix

add types
  src/qComponents/QDatePicker/src/Common.ts
  src/qComponents/QDatePicker/src/QDatePicker.d.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.d.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.d.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.d.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.d.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/MonthTable/MonthTable.vue
  src/qComponents/QDatePicker/src/tables/YearTable/YearTable.d.ts
  src/qComponents/QDatePicker/src/tables/YearTable/YearTable.vue
  stories/components/QDatePicker.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

[QTable] Drag and drop for columns (#42)
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QTable/index.ts
  src/qComponents/QTable/src/QTable.d.ts
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableT/QTableT.d.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHead.d.ts
  src/qComponents/QTable/src/QTableTHead/QTableTHead.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.d.ts
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTHead/q-table-t-head-cell.scss
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/resizeEvent.ts
  stories/components/QTable/Default.ts
  stories/components/QTable/Draggable.ts
  stories/components/QTable/QTable.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add animations (#46)
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QCollapseItem/src/q-collapse-item.scss
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/q-color-hue-slider.scss
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/types.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/q-dialog.scss
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/q-drawer.scss
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/q-message-box.scss
  src/qComponents/QNotification/src/q-notification.scss
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/q-select-dropdown.scss
  src/qComponents/QSelect/src/q-select.scss
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QUpload/src/q-upload-file-multiple.scss
  src/qComponents/QUpload/src/q-upload.scss
  src/transition.scss
  src/vars.scss
Due: prettier --write, eslint --fix, stylelint --fix

fixes
  src/qComponents/QDatePicker/index.ts
  src/qComponents/QDatePicker/src/Common.ts
  src/qComponents/QDatePicker/src/QDatePicker.d.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.d.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.d.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.d.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.d.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/panel/constants.ts
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.d.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/MonthTable/MonthTable.d.ts
  src/qComponents/QDatePicker/src/tables/MonthTable/MonthTable.vue
  src/qComponents/QDatePicker/src/tables/MonthTable/month-table.scss
  src/qComponents/QDatePicker/src/tables/YearTable/YearTable.d.ts
  src/qComponents/QDatePicker/src/tables/YearTable/YearTable.vue
  src/qComponents/QDatePicker/src/tables/period-table.scss
  stories/components/QDatePicker.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

ref
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
  src/qComponents/QDatePicker/src/Common.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/tables/MonthTable/MonthTable.d.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.d.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/YearTable/YearTable.d.ts
  src/qComponents/QDatePicker/src/tables/YearTable/YearTable.vue
Due: prettier --write, eslint --fix, stylelint --fix

fx
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
Due: prettier --write, stylelint --fix

fx
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: eslint --fix, stylelint --fix

add notNull
  src/qComponents/QDatePicker/src/QDatePicker.d.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/notNull.ts
Due: prettier --write, eslint --fix, stylelint --fix

ref
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QDatePicker/src/Common.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.d.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.d.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.d.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.d.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/panel/constants.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/checkDisabled.ts
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.d.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/period-table.scss
  src/qComponents/helpers/dateHelpers.ts
Due: prettier --write, eslint --fix, stylelint --fix

fixes
  src/qComponents/QDatePicker/src/QDatePicker.d.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.d.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/period-table.scss
Due: prettier --write, eslint --fix, stylelint --fix

fixes
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/constants.ts
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.d.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.d.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/period-table.scss
Due: prettier --write, eslint --fix, stylelint --fix

QDatePicker (#39)
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QDatePicker/index.ts
  src/qComponents/QDatePicker/src/Common.ts
  src/qComponents/QDatePicker/src/QDatePicker.d.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/constants.ts
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.d.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.d.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.d.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.d.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.d.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/checkDisabled.ts
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.d.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/period-table.scss
  src/qComponents/helpers/dateHelpers.ts
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/notNull.ts
  src/qComponents/index.ts
  stories/components/QDatePicker.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix

Add export component type
  src/global.d.ts
  src/qComponents/QBreadcrumbs/index.ts
  src/qComponents/QButton/index.ts
  src/qComponents/QCascader/index.ts
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QCol/index.ts
  src/qComponents/QCollapse/index.ts
  src/qComponents/QCollapseItem/index.ts
  src/qComponents/QColorPicker/index.ts
  src/qComponents/QContextMenu/index.ts
  src/qComponents/QDatePicker/index.ts
  src/qComponents/QDialog/index.ts
  src/qComponents/QDrawer/index.ts
  src/qComponents/QForm/index.ts
  src/qComponents/QFormItem/index.ts
  src/qComponents/QInput/index.ts
  src/qComponents/QInputNumber/index.ts
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QNotification/index.ts
  src/qComponents/QOption/index.ts
  src/qComponents/QPagination/index.ts
  src/qComponents/QPopover/index.ts
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadioGroup/index.ts
  src/qComponents/QRow/index.ts
  src/qComponents/QScrollbar/index.ts
  src/qComponents/QSelect/index.ts
  src/qComponents/QTabPane/index.ts
  src/qComponents/QTable/index.ts
  src/qComponents/QTabs/index.ts
  src/qComponents/QTag/index.ts
  src/qComponents/QTextarea/index.ts
  src/qComponents/QUpload/index.ts
Due: prettier --write, eslint --fix

Remove import styles and components
  src/qComponents/index.ts
Due: prettier --write, eslint --fix

Enriching common style file
  src/components.scss
Due: prettier --write, stylelint --fix

wip
  package.json
  vite.config.ts
Due: prettier --write, eslint --fix, prettier --parser json --write

Preparation DS for release (#48)
  src/components.scss
  src/global.d.ts
  src/qComponents/QBreadcrumbs/index.ts
  src/qComponents/QButton/index.ts
  src/qComponents/QCascader/index.ts
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QCol/index.ts
  src/qComponents/QCollapse/index.ts
  src/qComponents/QCollapseItem/index.ts
  src/qComponents/QColorPicker/index.ts
  src/qComponents/QContextMenu/index.ts
  src/qComponents/QDatePicker/index.ts
  src/qComponents/QDialog/index.ts
  src/qComponents/QDrawer/index.ts
  src/qComponents/QForm/index.ts
  src/qComponents/QFormItem/index.ts
  src/qComponents/QInput/index.ts
  src/qComponents/QInputNumber/index.ts
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QNotification/index.ts
  src/qComponents/QOption/index.ts
  src/qComponents/QPagination/index.ts
  src/qComponents/QPopover/index.ts
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadioGroup/index.ts
  src/qComponents/QRow/index.ts
  src/qComponents/QScrollbar/index.ts
  src/qComponents/QSelect/index.ts
  src/qComponents/QTabPane/index.ts
  src/qComponents/QTable/index.ts
  src/qComponents/QTabs/index.ts
  src/qComponents/QTag/index.ts
  src/qComponents/QTextarea/index.ts
  src/qComponents/QUpload/index.ts
  src/qComponents/index.ts
Due: prettier --write, eslint --fix, stylelint --fix

wip
  .storybook/preview.ts
  package.json
  src/components.scss
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/index.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
  stories/components/QCascader.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDialog.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QForm.stories.ts
  vite.config.ts
Due: prettier --write, eslint --fix, stylelint --fix, prettier --parser json --write

refact
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
Due: prettier --write, eslint --fix, stylelint --fix

Fix paths
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
Due: prettier --write, eslint --fix, stylelint --fix

QNotification upgrade
  .eslintrc
  .storybook/preview.ts
  src/components.scss
  src/qComponents/QNotification/index.ts
  src/qComponents/QNotification/src/QNotification.vue
  src/qComponents/QNotification/src/QNotificationContainer/QNotificationContainer.vue
  src/qComponents/QNotification/src/QNotificationContainer/index.ts
  src/qComponents/QNotification/src/QNotificationContainer/q-notification-container.scss
  src/qComponents/QNotification/src/QNotificationContainer/types.ts
  src/qComponents/QNotification/src/QNotificationToast/QNotificationToast.vue
  src/qComponents/QNotification/src/QNotificationToast/index.ts
  src/qComponents/QNotification/src/QNotificationToast/q-notification-toast.scss
  src/qComponents/QNotification/src/QNotificationToast/types.ts
  src/qComponents/QNotification/src/constants.ts
  src/qComponents/QNotification/src/index.ts
  src/qComponents/QNotification/src/q-notification.scss
  src/qComponents/QNotification/src/types.ts
  src/qComponents/index.ts
  stories/components/QButton.stories.ts
  stories/components/QCascader.stories.ts
  stories/components/QNotification.stories.ts
Due: prettier --write, eslint --fix, stylelint --fix, prettier --parser json --write

Add space
  src/qComponents/QNotification/src/index.ts
Due: prettier --write, eslint --fix

update
  package.json
  src/qComponents/helpers/eventBus.ts
  src/qComponents/helpers/index.ts
  src/qComponents/index.ts
  yarn.lock
Due: prettier --write, eslint --fix, prettier --parser json --write

Fix mount
  src/qComponents/QNotification/index.ts
  src/qComponents/QNotification/src/index.ts
Due: prettier --write, eslint --fix

wip
  package.json
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/index.ts
  vite.config.ts
  yarn.lock
Due: prettier --write, eslint --fix, stylelint --fix, prettier --parser json --write

wip
  .storybook/preview.ts
Due: prettier --write, eslint --fix
