Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

fix: correction of action behavior on click on suffix-icon in QInput (#160)
  src/qComponents/QCascader/src/QCascaderInput/q-cascader-input.scss
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/q-select.scss
  src/qComponents/QTextarea/src/q-textarea.scss
  stories/components/QColorPicker.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: rewrite QDrawer as a plugin
  src/qComponents/QDrawer/src/drawer-hook.ts
  src/qComponents/QDrawer/src/types.ts
  stories/components/QDrawer.stories.ts
  stories/plugins/QDrawerPlugin/QDrawer.stories.ts
  stories/plugins/QDrawerPlugin/QDrawerTest.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix

feat: allow use components with SSR (#159)
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QNotification/src/index.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QProgressIndicatior/src/index.ts
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/constants/isServer.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: make qdialog component usage as a hook
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDialog/src/types.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: provide a component in useDialog. Add reject into dialog promise
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/QDialogContent/QdialogContent.vue
  src/qComponents/QDialog/src/QDialogContent/index.ts
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDialog/src/types.ts
  src/qComponents/index.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: wip change qdrawer stories component
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/QDrawerTestContent/QDrawerTestContent.vue
  src/qComponents/QDrawer/src/QDrawerTestContent/index.ts
  src/qComponents/QDrawer/src/drawer-hook.ts
  src/qComponents/QDrawer/src/types.ts
  src/qComponents/index.ts
  stories/plugins/QDrawerPlugin/Component.stories.ts
  stories/plugins/QDrawerPlugin/QDrawer.stories.ts
  stories/plugins/QDrawerPlugin/QDrawerTest.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: resolve conflict, remove unused code
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/QDialogContent/QdialogContent.vue
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDialog/src/types.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add test component for dialog
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/QDialogContent/QdialogContent.vue
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDialog/src/types.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add done event, formatting
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/QDrawer.vue
  src/qComponents/QDrawer/src/QDrawerContainer/q-drawer-container.scss
  src/qComponents/QDrawer/src/QDrawerContent/index.ts
  src/qComponents/QDrawer/src/QDrawerContent/src/QDrawerContent.vue
  src/qComponents/QDrawer/src/QDrawerTestContent/QDrawerTestContent.vue
  src/qComponents/QDrawer/src/QDrawerTestContent/index.ts
  src/qComponents/QDrawer/src/drawer-hook.ts
  src/qComponents/QDrawer/src/index.ts
  src/qComponents/QDrawer/src/q-drawer.scss
  src/qComponents/QDrawer/src/types.ts
  stories/plugins/QDrawerPlugin/Component.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove watch from QDialog, make more consistent with messagebox
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/QDialogContent/index.ts
  src/qComponents/QDialog/src/constants.ts
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDialog/src/types.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: move types, formatting, change sample component
  src/qComponents/QDrawer/constants.ts
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/QDrawer.vue
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QDrawer/src/QDrawerContent/QDrawerContent.vue
  src/qComponents/QDrawer/src/QDrawerContent/index.ts
  src/qComponents/QDrawer/src/QDrawerContent/types.ts
  src/qComponents/QDrawer/src/index.ts
  src/qComponents/QDrawer/src/types.ts
  src/qComponents/QDrawer/types.ts
  stories/plugins/QDrawerPlugin/Component.stories.ts
  stories/plugins/QDrawerPlugin/QDrawerSampleContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: allow extended component in useDialog, move QDialog into plugins
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/types.ts
  stories/plugins/QDialog/Default.stories.ts
  stories/plugins/QDialog/Extended.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove unused props from types, add utils, fix some types
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/types.ts
  src/qComponents/QDialog/src/utils.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: fix path in dialog index.ts
  src/qComponents/QDialog/index.ts
Due: eslint --fix, prettier --write

refactor: add utils, wip default story component, formatting
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/QDrawer.vue
  src/qComponents/QDrawer/src/QDrawerContainer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QDrawer/src/QDrawerContainer/utils.ts
  src/qComponents/QDrawer/src/QDrawerContent/QDrawerContent.vue
  src/qComponents/QDrawer/src/QDrawerContent/types.ts
  src/qComponents/QDrawer/src/constants.ts
  src/qComponents/QDrawer/src/index.ts
  src/qComponents/QDrawer/src/types.ts
  stories/plugins/QDrawerPlugin/Component.stories.ts
  stories/plugins/QDrawerPlugin/Default.stories.ts
  stories/plugins/QDrawerPlugin/QDrawerSampleContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: rename stories directory, formatting
  src/qComponents/QDrawer/src/QDrawerContainer/QDrawer.vue
  src/qComponents/QDrawer/src/index.ts
  stories/plugins/QDrawer/Component.stories.ts
  stories/plugins/QDrawer/Default.stories.ts
  stories/plugins/QDrawer/QDrawerSampleContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove unused code, fix types, rename types, move files into theirs directories
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialogContainer/index.ts
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDialog/src/QDialogContainer/types.ts
  src/qComponents/QDialog/src/constants.ts
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDialog/src/types.ts
  src/qComponents/QDialog/src/utils.ts
  src/qComponents/index.ts
  stories/plugins/QDialog/Default.stories.ts
  stories/plugins/QDialog/Extended.stories.ts
  stories/plugins/QDialog/QdialogContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: allow left, right arrows for changing caret position
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types & firefox focus styles
  src/normalize.scss
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
  src/vars.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: return normalize style
  src/normalize.scss
Due: prettier --write, stylelint --fix

refactor: fix types, rename types, move files into theirs directories
  src/components.scss
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDialog/src/QDialogContainer/q-dialog.scss
  src/qComponents/QDialog/src/QDialogContainer/types.ts
  src/qComponents/QDialog/src/QDialogContainer/utils.ts
  src/qComponents/QDialog/src/constants.ts
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDialog/src/types.ts
  src/qComponents/index.ts
  stories/plugins/QDialog/Default.stories.ts
  stories/plugins/QDialog/Extended.stories.ts
  stories/plugins/QDialog/QdialogContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

[QDatepicker] add mobile support (#139)
  src/normalize.scss
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/Date/types.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/types.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/types.ts
  src/qComponents/QDatePicker/src/panel/q-picker-panel.scss
  src/qComponents/QDatePicker/src/q-date-picker.scss
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/QDatePicker/src/tables/period-table.scss
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/q-dialog.scss
  src/qComponents/QDialog/src/types.ts
  src/qComponents/hooks/helpers.ts
  src/qComponents/hooks/index.ts
  src/qComponents/hooks/useMediaQuery/index.ts
  src/vars.scss
  stories/components/QDatePicker.stories.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: fix types, rename types
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDialog/src/QDialogContainer/types.ts
  src/qComponents/QDialog/src/QDialogContainer/utils.ts
  src/qComponents/QDialog/src/constants.ts
  src/qComponents/QDialog/src/index.ts
  src/qComponents/QDialog/src/types.ts
  stories/plugins/QDialog/Default.stories.ts
  stories/plugins/QDialog/DialogFormTest.vue
  stories/plugins/QDialog/Extended.stories.ts
  stories/plugins/QDialog/QdialogContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix path to q-dialog styles
  src/components.scss
Due: prettier --write, stylelint --fix

fix: add type for rootClass in QInput
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

build: upgrade deps
  package.json
  yarn.lock
Due: prettier --parser json --write

refactor: rename QDrawer instance, add props control to the story
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/QDrawer.vue
  src/qComponents/QDrawer/src/QDrawerContainer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QDrawer/src/QDrawerContainer/utils.ts
  src/qComponents/QDrawer/src/QDrawerContent/QDrawerContent.vue
  src/qComponents/QDrawer/src/QDrawerContent/index.ts
  src/qComponents/QDrawer/src/QDrawerContent/types.ts
  src/qComponents/QDrawer/src/constants.ts
  src/qComponents/QDrawer/src/types.ts
  src/qComponents/QDrawerBox/index.ts
  src/qComponents/QDrawerBox/src/QDrawerContainer/index.ts
  src/qComponents/QDrawerBox/src/QDrawerContainer/index.vue
  src/qComponents/QDrawerBox/src/QDrawerContainer/q-drawer-container.scss
  src/qComponents/QDrawerBox/src/QDrawerContainer/types.ts
  src/qComponents/QDrawerBox/src/QDrawerContainer/utils.ts
  src/qComponents/QDrawerBox/src/constants.ts
  src/qComponents/QDrawerBox/src/index.ts
  src/qComponents/QDrawerBox/src/q-drawer.scss
  src/qComponents/QDrawerBox/src/types.ts
  src/qComponents/index.ts
  stories/plugins/QDrawer/Default.stories.ts
  stories/plugins/QDrawer/QDrawerSampleContent.vue
  stories/plugins/QDrawerBox/Component.stories.ts
  stories/plugins/QDrawerBox/Extended.stories.ts
  stories/plugins/QDrawerBox/QDrawerSampleContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

build: upgrade deps (#163)
  package.json
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fix: fix names, order of imports, code styles
  src/components.scss
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDialog/src/QDialogContainer/types.ts
  src/qComponents/QDialog/src/q-dialog.scss
  src/qComponents/QDialog/src/types.ts
  src/qComponents/index.ts
  stories/plugins/QDialog/Default.stories.ts
  stories/plugins/QDialog/DialogFormTest.vue
  stories/plugins/QDialog/Extended.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: little-bit more code style fixes
  src/qComponents/QDialog/src/index.ts
  stories/plugins/QDialog/Default.stories.ts
  stories/plugins/QDialog/Extended.stories.ts
Due: eslint --fix, prettier --write

refactor: add listeners, names fix, formatting
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/q-drawer-container.scss
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QDrawer/src/QDrawerContainer/utils.ts
  src/qComponents/QDrawer/src/constants.ts
  src/qComponents/QDrawer/src/index.ts
  src/qComponents/QDrawer/src/q-drawer.scss
  src/qComponents/QDrawer/src/types.ts
  src/qComponents/QDrawerBox/index.ts
  src/qComponents/QDrawerBox/src/QDrawerContainer/index.ts
  src/qComponents/QDrawerBox/src/QDrawerContainer/types.ts
  src/qComponents/QDrawerBox/src/QDrawerContainer/utils.ts
  src/qComponents/QDrawerBox/src/types.ts
  src/qComponents/index.ts
  stories/plugins/QDrawer/Component.stories.ts
  stories/plugins/QDrawer/Extended.stories.ts
  stories/plugins/QDrawer/QDrawerSampleContent.vue
  stories/plugins/QDrawerBox/QDrawerSampleContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: add q-dialog-content
  src/qComponents/QDialog/index.ts
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDialog/src/QDialogContainer/q-dialog-container.scss
  src/qComponents/QDialog/src/QDialogContainer/types.ts
  src/qComponents/QDialog/src/QDialogContent/index.ts
  src/qComponents/QDialog/src/QDialogContent/index.vue
  src/qComponents/QDialog/src/QDialogContent/q-dialog-content.scss
  src/qComponents/QDialog/src/QDialogContent/types.ts
  src/qComponents/QDialog/src/q-dialog.scss
  src/qComponents/QDialog/src/types.ts
  stories/plugins/QDialog/Component.stories.ts
  stories/plugins/QDialog/DialogFormTest.vue
  stories/plugins/QDialog/Extended.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix comment in props
  src/qComponents/QDialog/src/QDialogContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: bump v
  package.json
Due: prettier --parser json --write

fix: remove unused emits, fix imports, props in stories
  src/qComponents/QDialog/src/QDialogContainer/index.ts
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDialog/src/QDialogContainer/q-dialog-container.scss
  src/qComponents/QDialog/src/QDialogContainer/types.ts
  src/qComponents/QDialog/src/QDialogContent/index.vue
  src/qComponents/QDialog/src/QDialogContent/q-dialog-content.scss
  src/qComponents/QDialog/src/types.ts
  stories/plugins/QDialog/Component.stories.ts
  stories/plugins/QDialog/DialogFormTest.vue
  stories/plugins/QDialog/Extended.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add flexbox to content
  src/qComponents/QDialog/src/QDialogContainer/q-dialog-container.scss
  src/qComponents/QDialog/src/QDialogContent/q-dialog-content.scss
Due: prettier --write, stylelint --fix

fix: content body on whole height
  src/qComponents/QDialog/src/QDialogContent/q-dialog-content.scss
Due: prettier --write, stylelint --fix

refactor: add qdrawer content component
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/index.ts
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/q-drawer-container.scss
  src/qComponents/QDrawer/src/QDrawerContainer/types.ts
  src/qComponents/QDrawer/src/QDrawerContainer/utils.ts
  src/qComponents/QDrawer/src/QDrawerContent/index.ts
  src/qComponents/QDrawer/src/QDrawerContent/index.vue
  src/qComponents/QDrawer/src/index.ts
  src/qComponents/QDrawer/src/types.ts
  stories/plugins/QDrawer/Component.stories.ts
  stories/plugins/QDrawer/Extended.stories.ts
  stories/plugins/QDrawer/QDrawerSampleContent.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: remove listeners, formatting
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactor: import fix, add focus-visible styles
  src/qComponents/QDrawer/src/QDrawerContainer/q-drawer-container.scss
  stories/plugins/QDrawer/Component.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix
