Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

wip
  package.json
  yarn.lock
Due: prettier --parser json --write

wip
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
Due: eslint --fix, prettier --write, stylelint --fix

[WIP] Build setup (#58)
  .storybook/preview.ts
  package.json
  src/components.scss
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/index.ts
  stories/components/QBreadcrumbs.stories.ts
  stories/components/QButton.stories.ts
  stories/components/QCascader.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QDialog.stories.ts
  stories/components/QDrawer.stories.ts
  stories/components/QForm.stories.ts
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fixs
  src/qComponents/QNotification/src/QNotificationContainer/QNotificationContainer.vue
  src/qComponents/QNotification/src/QNotificationToast/QNotificationToast.vue
  src/qComponents/QNotification/src/constants.ts
  src/qComponents/QNotification/src/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

[QNotification] Rebirth (#59)
  .eslintrc
  package.json
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  src/qComponents/QNotification/index.ts
  src/qComponents/QNotification/src/QNotification.vue
  src/qComponents/QNotification/src/QNotificationContainer/QNotificationContainer.vue
  src/qComponents/QNotification/src/QNotificationContainer/index.ts
  src/qComponents/QNotification/src/QNotificationContainer/q-notification-container.scss
  src/qComponents/QNotification/src/QNotificationContainer/types.ts
  src/qComponents/QNotification/src/QNotificationToast/QNotificationToast.vue
  src/qComponents/QNotification/src/QNotificationToast/index.ts
  src/qComponents/QNotification/src/QNotificationToast/q-notification-toast.scss
  src/qComponents/QNotification/src/QNotificationToast/types.ts
  src/qComponents/QNotification/src/constants.ts
  src/qComponents/QNotification/src/index.ts
  src/qComponents/QNotification/src/q-notification.scss
  src/qComponents/QNotification/src/types.ts
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
  src/qComponents/helpers/eventBus.ts
  src/qComponents/helpers/index.ts
  src/qComponents/index.ts
  stories/components/QButton.stories.ts
  stories/components/QCascader.stories.ts
  stories/components/QForm.stories.ts
  stories/components/QNotification.stories.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

wip
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/types.ts
  src/qComponents/QMessageBox/src/constants.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QMessageBox/src/types.ts
  stories/components/QMessageBox/Default.ts
Due: eslint --fix, prettier --write, stylelint --fix

upgrade deps
  package.json
  yarn.lock
Due: prettier --parser json --write

Add onUnmounted and onMounted hooks
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/types.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QMessageBox/src/types.ts
  stories/components/QMessageBox/Default.ts
Due: eslint --fix, prettier --write, stylelint --fix

wip
  package.json
  src/qComponents/constants/locales/en.ts
  src/qComponents/constants/locales/ru.ts
  src/qComponents/qui-instance.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

Add MessageBoxContent
  package.json
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/types.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/utils.ts
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContent/types.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QMessageBox/src/types.ts
  stories/components/QMessageBox/Component.ts
  stories/components/QMessageBox/ComponentExtended.ts
  stories/components/QMessageBox/Default.ts
  stories/components/QMessageBox/MessageBoxFormTest.vue
  stories/components/QMessageBox/QMessageBox.stories.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

Refact styles
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/q-message-box-container.scss
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContent/q-message-box-content.scss
  src/qComponents/QMessageBox/src/q-message-box.scss
Due: eslint --fix, prettier --write, stylelint --fix

refact
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/utils.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QMessageBox/src/types.ts
  stories/components/QMessageBox/Component.ts
  stories/components/QMessageBox/ComponentExtended.ts
  stories/components/QMessageBox/Default.ts
  stories/components/QMessageBox/QMessageBox.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

Rename story
  stories/components/QMessageBox/ComponentExtended.ts
Due: eslint --fix, prettier --write

Add callback fn
  .storybook/preview.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContent/types.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/index.ts
  stories/components/QMessageBox/Default.ts
Due: eslint --fix, prettier --write, stylelint --fix

Add extra imports
  src/qComponents/QNotification/index.ts
  src/qComponents/index.ts
Due: eslint --fix, prettier --write

wip
  README.md
  package.json
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/index.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

wip
  README.md
  package.json
  src/qComponents/install.ts
Due: eslint --fix, prettier --write, prettier --parser json --write

wip
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/types.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QTable/src/QTable.d.ts
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableTBody/q-table-t-body-cell.scss
  stories/components/QSelect.stories.ts
  stories/components/QTable/Default.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix type
  src/qComponents/QTable/src/QTable.d.ts
Due: eslint --fix, prettier --write

Fix #49
  package.json
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

[QInputNumber] upgrade with additions and formatting
  src/qComponents/QInputNumber/src/Common.ts
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/types.ts
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

[QMessageBox] Rebirth (#60)
  .storybook/preview.ts
  package.json
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContainer/q-message-box-container.scss
  src/qComponents/QMessageBox/src/QMessageBoxContainer/types.ts
  src/qComponents/QMessageBox/src/QMessageBoxContainer/utils.ts
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.ts
  src/qComponents/QMessageBox/src/QMessageBoxContent/index.vue
  src/qComponents/QMessageBox/src/QMessageBoxContent/q-message-box-content.scss
  src/qComponents/QMessageBox/src/QMessageBoxContent/types.ts
  src/qComponents/QMessageBox/src/constants.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QMessageBox/src/q-message-box.scss
  src/qComponents/QMessageBox/src/types.ts
  src/qComponents/QNotification/index.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/index.ts
  stories/components/QMessageBox/ComponentExtended.ts
  stories/components/QMessageBox/Default.ts
  stories/components/QMessageBox/MessageBoxFormTest.vue
  stories/components/QMessageBox/QMessageBox.stories.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

Fix #49 (#73)
  package.json
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

wip
  src/qComponents/QButton/index.ts
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/types.ts
  src/qComponents/index.ts
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

wip
  package.json
Due: prettier --parser json --write

Css build (#71)
  README.md
  package.json
  src/fonts/fonts.scss
  src/icons/icons.scss
  src/qComponents/QCollapse/src/q-collapse.scss
  src/qComponents/QForm/src/q-form.scss
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/constants/locales/en.ts
  src/qComponents/constants/locales/ru.ts
  src/qComponents/index.ts
  stories/core/icons.stories.mdx
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

Add useResizeListener hook
  src/global.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/resizeEvent.ts
  src/qComponents/hooks/index.ts
  src/qComponents/hooks/useResizeListener/index.ts
  src/qComponents/hooks/useResizeListener/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

remove legacy rule
  src/qComponents/QCascader/src/QCascaderColumn/helpers.ts
  src/qComponents/QTable/src/config.ts
  src/qComponents/helpers/dateHelpers.ts
  src/qComponents/helpers/notNull.ts
  src/qComponents/helpers/randId.ts
  src/qComponents/helpers/validateArray.ts
Due: eslint --fix, prettier --write

upd
  src/qComponents/constants/locales/index.ts
  src/qComponents/helpers/dateHelpers.ts
Due: eslint --fix, prettier --write

decomposing
  src/qComponents/QInputNumber/src/Common.ts
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

wip
  package.json
  src/qComponents/index.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

refactoring
  src/qComponents/QInputNumber/src/Common.ts
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix package name
  package.json
Due: prettier --parser json --write

fix readme
  README.md
Due: none

Common fixes (#72)
  README.md
  package.json
  src/global.d.ts
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/types.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn/helpers.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QTable/src/QTable.d.ts
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableTBody/q-table-t-body-cell.scss
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  src/qComponents/QTable/src/config.ts
  src/qComponents/constants/locales/index.ts
  src/qComponents/helpers/dateHelpers.ts
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/notNull.ts
  src/qComponents/helpers/randId.ts
  src/qComponents/helpers/resizeEvent.ts
  src/qComponents/helpers/validateArray.ts
  src/qComponents/hooks/index.ts
  src/qComponents/hooks/useResizeListener/index.ts
  src/qComponents/hooks/useResizeListener/types.ts
  stories/components/QSelect.stories.ts
  stories/components/QTable/Default.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

wip
  package.json
  src/shims-vue.d.ts
  vite.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

fix single char typing in full selection
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  package.json
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell.vue
  src/qComponents/QTable/src/helpers/sticky/index.ts
  src/qComponents/QTable/src/helpers/sticky/types.ts
  src/qComponents/config.ts
  src/qComponents/hooks/useResizeListener/index.ts
  src/shims-vue.d.ts
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fix backspace with range selection
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write
