Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

Move QCascaderDropdown
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
  src/qComponents/QCascader/src/q-cascader.scss
Due: prettier --write, stylelint --fix

Move QCascaderColumn
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderColumn/q-cascader-column.scss
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/q-cascader.scss
Due: prettier --write, stylelint --fix

Move QCascaderInput
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.d.ts
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QCascader/src/QCascaderInput/q-cascader-input.scss
  src/qComponents/QCascader/src/q-cascader.scss
Due: prettier --write, stylelint --fix

Small refact
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
Due: stylelint --fix

Fix styles
  src/qComponents/QCascader/src/QCascaderInput/q-cascader-input.scss
  src/qComponents/QCol/src/q-col.scss
  src/qComponents/QScrollbar/src/q-scrollbar.scss
  src/qComponents/QTag/src/q-tag.scss
Due: prettier --write, stylelint --fix

Fox column borders
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderColumn/q-cascader-column.scss
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.d.ts
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.d.ts
Due: prettier --write, stylelint --fix

Add default placeholder
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
Due: stylelint --fix

Fix popperJS.update call
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/helpers/resizeEvent.ts
Due: prettier --write, stylelint --fix

Add tabindex to row
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderRow/q-cascader-row.scss
Due: prettier --write, stylelint --fix

Fix scrollTo in QScrollbar
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
Due: prettier --write, stylelint --fix

Add keyboard up/down navigation
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderColumn/helpers.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
Due: prettier --write, stylelint --fix

Close columns on try open childless row
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QScrollbar/src/QBar.vue
Due: prettier --write, stylelint --fix

Focus first active row on column mount
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
Due: prettier --write, stylelint --fix

Add left arrow focus move
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderRow/q-cascader-row.scss
Due: prettier --write, stylelint --fix

Remove public folder
  public/favicon.ico
Due: none

Fix disabled color
  src/qComponents/QCascader/src/QCascaderRow/q-cascader-row.scss
Due: prettier --write, stylelint --fix

Fix default options in story
  stories/components/QCascader.stories.ts
Due: prettier --write

Upd deps
  yarn.lock
Due: none

Fix row height
  src/qComponents/QCascader/src/QCascaderRow/q-cascader-row.scss
Due: prettier --write, stylelint --fix

Prefer nullable
  src/qComponents/QNotification/src/types.ts
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableT/QTableT.d.ts
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.d.ts
  src/qComponents/QTable/src/helpers/sticky.ts
  stories/components/QNotification.stories.ts
Due: prettier --write, stylelint --fix

Add eslint to lintstage
  .lintstagedrc
Due: prettier --parser json --write

Fix some eslint rules
  .eslintrc
  src/qComponents/QNotification/src/QNotificationCloud.vue
Due: stylelint --fix, prettier --parser json --write

wip
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/month-range.vue
  src/qComponents/QDatePicker/src/panel/types.ts
  src/qComponents/QDatePicker/src/panel/year-range.vue
  src/qComponents/QDatePicker/src/styles/picker-panel.scss
  src/qComponents/QDatePicker/src/styles/picker.scss
  src/qComponents/QDatePicker/src/tables/composition.ts
  src/qComponents/QDatePicker/src/tables/date-table.vue
  src/qComponents/QDatePicker/src/tables/month-table.vue
  src/qComponents/QDatePicker/src/tables/types.ts
  src/qComponents/QDatePicker/src/tables/year-table.vue
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/helpers/dateHelpers.ts
  stories/components/QDatePicker/Month.js
  stories/components/QDatePicker/MonthRange.js
  stories/components/QDatePicker/QDatePicker.stories.ts
Due: prettier --write, stylelint --fix

Fix types in QNotification
  src/qComponents/QNotification/src/QNotification.vue
  src/qComponents/QNotification/src/QNotificationCloud.vue
  src/qComponents/QNotification/src/types.ts
Due: prettier --write, stylelint --fix

Prefer nullable (#38)
  .eslintrc
  .lintstagedrc
  src/qComponents/QNotification/src/QNotificationCloud.vue
  src/qComponents/QNotification/src/types.ts
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableT/QTableT.d.ts
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.d.ts
  src/qComponents/QTable/src/helpers/sticky.ts
  stories/components/QNotification.stories.ts
Due: prettier --write, stylelint --fix, prettier --parser json --write

Return some rules
  .eslintrc
  .lintstagedrc
  src/qComponents/QNotification/src/QNotificationCloud.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
Due: stylelint --fix, prettier --parser json --write

Fix order
  .lintstagedrc
Due: prettier --parser json --write

Remove legacy css transitions
  src/transition.scss
Due: prettier --write, stylelint --fix

wip
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/focus-time-mixin.js
  src/qComponents/QDatePicker/src/panel/month-range.vue
  src/qComponents/QDatePicker/src/panel/types.ts
  src/qComponents/QDatePicker/src/panel/year-range.vue
  src/qComponents/QDatePicker/src/styles/picker.scss
  src/qComponents/QDatePicker/src/tables/month-table.vue
  src/qComponents/QDatePicker/src/tables/types.ts
  src/qComponents/QDatePicker/src/tables/year-table.vue
  src/qComponents/QDatePicker/src/types.ts
  stories/components/QDatePicker/DateRange.js
  stories/components/QDatePicker/DateTime.js
  stories/components/QDatePicker/DateTimeRange.js
  stories/components/QDatePicker/QDatePicker.stories.ts
  stories/components/QDatePicker/Year.js
Due: prettier --write, stylelint --fix

wip
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/types.ts
Due: prettier --write, stylelint --fix

Upd
  src/qComponents/QCascader/index.ts
  src/qComponents/QCascader/src/QCascader.vue
  stories/components/QCascader.stories.ts
  yarn.lock
Due: prettier --write, stylelint --fix

[QCascader] Migrate to TS + Vue3 + Composition API (#32)
  .nvmrc
  .prettierignore
  public/favicon.ico
  src/qComponents/QCascader/index.ts
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderColumn/helpers.ts
  src/qComponents/QCascader/src/QCascaderColumn/q-cascader-column.scss
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderDropdown/q-cascader-dropdown.scss
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.d.ts
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QCascader/src/QCascaderInput/q-cascader-input.scss
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderRow/q-cascader-row.scss
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.d.ts
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QCascader/src/QCascaderTags/q-cascader-tags.scss
  src/qComponents/QCascader/src/helpers/findAllLeaves.ts
  src/qComponents/QCascader/src/helpers/findFullPath.ts
  src/qComponents/QCascader/src/helpers/getChildStatuses.ts
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCol/src/q-col.scss
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QScrollbar/src/QBar.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/q-scrollbar.scss
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QTag/src/q-tag.scss
  src/qComponents/helpers/resizeEvent.ts
  src/qComponents/index.ts
  src/vars.scss
  stories/components/QCascader.stories.ts
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser json --write

Some refact, add story and column draggable option
  src/qComponents/QTable/src/QTable.d.ts
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  stories/components/QTable/Draggable.ts
  stories/components/QTable/QTable.stories.ts
Due: prettier --write, stylelint --fix

Update story
  stories/components/QTable/Draggable.ts
Due: prettier --write

wip
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/focus-mixin.js
  src/qComponents/QDatePicker/src/panel/month-range.vue
  src/qComponents/QDatePicker/src/panel/types.ts
  src/qComponents/QDatePicker/src/panel/year-range.vue
Due: prettier --write, stylelint --fix

Add draggable draft
  src/qComponents/QTable/index.ts
  src/qComponents/QTable/src/QTable.d.ts
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHead.d.ts
  src/qComponents/QTable/src/QTableTHead/QTableTHead.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.d.ts
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTHead/q-table-t-head-cell.scss
  stories/components/QTable/Default.ts
Due: prettier --write, stylelint --fix
