Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue, html}": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

refactor(Locale): cleanup
  src/qComponents/locale/index.ts
Due: eslint --fix, prettier --write

fix(Locales): docs
  .storybook/preview.ts
  README.md
  src/qComponents/index.ts
Due: eslint --fix, prettier --write

feat(Locale): add Chinese (#273)
  .storybook/preview.ts
  README.md
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.12.0
  package.json
Due: prettier --parser json --write

chore: bump prettier version
  package.json
  yarn.lock
Due: prettier --parser json --write

refactor: add spaces
  stories/plugins/QDialog/DialogFormTest.vue
  stories/plugins/QDrawer/DrawerFormTest.vue
  stories/plugins/QMessageBox/MessageBoxFormTest.vue
  stories/plugins/QNotification.stories.ts
  vuepress-docs/docs/.vuepress/public/QButton/disabled.html
  vuepress-docs/docs/.vuepress/public/QButton/loading.html
  vuepress-docs/docs/.vuepress/public/QButton/main.html
  vuepress-docs/docs/.vuepress/public/QCheckboxGroup/direction.html
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]error.html
  vuepress-docs/docs/.vuepress/public/QForm/disabled.html
  vuepress-docs/docs/.vuepress/public/QForm/main.html
Due: eslint --fix, prettier --write, stylelint --fix

fix: styles in storybook
  .storybook/main.ts
Due: eslint --fix, prettier --write

feat(QFormItem): add label size prop
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/q-form-item.scss
  src/qComponents/QFormItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(QFormItem): add label size prop to docs
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]labelSize.html
  vuepress-docs/docs/components/QForm.md
Due: none

fix(QFormItem): font weight, add labelClass
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/q-form-item.scss
  src/qComponents/QFormItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(QFormItem): add regular label size example
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]labelSize.html
  vuepress-docs/docs/components/QForm.md
Due: none

fix(QFormItem): set regular label size if prop is not passed
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTabPane): the same height of tabs
  src/qComponents/QTabPane/src/q-tab-pane.scss
  vuepress-docs/docs/.vuepress/public/QTabs/example.html
Due: prettier --write, stylelint --fix

feat(QFormItem): Add prop for label size (#277)
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/q-form-item.scss
  src/qComponents/QFormItem/src/types.ts
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]labelSize.html
  vuepress-docs/docs/components/QForm.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTabPane): the same height of tabs (#278)
  src/qComponents/QTabPane/src/q-tab-pane.scss
  vuepress-docs/docs/.vuepress/public/QTabs/example.html
Due: prettier --write, stylelint --fix

docs: start slider
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QSlider/main.html
  vuepress-docs/docs/components/QSlider.md
Due: eslint --fix, prettier --write

chore: release v0.13.0
  package.json
Due: prettier --parser json --write

feat(QSwitcher): add QSwitcher component
  src/qComponents/QSwitcher/index.ts
  src/qComponents/QSwitcher/src/QSwitcher.vue
  src/qComponents/QSwitcher/src/q-switcher.scss
  src/qComponents/QSwitcher/src/types.ts
  src/qComponents/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QSwitcher): add focus-visible styles, input styles
  src/qComponents/QSwitcher/src/QSwitcher.vue
  src/qComponents/QSwitcher/src/q-switcher.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(QSwitcher): validateEvent
  src/qComponents/QSwitcher/src/QSwitcher.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QSwitcher): loading
  src/qComponents/QSwitcher/src/QSwitcher.vue
  src/qComponents/QSwitcher/src/q-switcher.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(QSwitcher): types
  src/qComponents/QSwitcher/src/QSwitcher.vue
  src/qComponents/QSwitcher/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSwitcher): naming
  src/qComponents/QSwitcher/src/q-switcher.scss
Due: prettier --write, stylelint --fix

feat(QSwitcher): loading styles
  src/qComponents/QSwitcher/src/QSwitcher.vue
  src/qComponents/QSwitcher/src/q-switcher.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat(QSwitcher): active animation
  src/qComponents/QSwitcher/src/q-switcher.scss
Due: prettier --write, stylelint --fix

feat(QSwitcher): add QSwitcher to storybook
  src/qComponents/QSwitcher/index.ts
  src/qComponents/QSwitcher/src/q-switcher.scss
  stories/components/QSwitcher.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(QSwitcher): add QSwitcher to docs
  vuepress-docs/docs/.vuepress/public/QSwitcher/default.html
  vuepress-docs/docs/.vuepress/public/QSwitcher/disabled.html
  vuepress-docs/docs/.vuepress/public/QSwitcher/loading.html
  vuepress-docs/docs/components/QSwitcher.md
Due: none

build: use preserveModules
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write, prettier --parser json --write

fix(QSwitcher): rename QSwitcher to QSwitch, slider to handle
  src/qComponents/QSwitch/index.ts
  src/qComponents/QSwitch/src/QSwitch.vue
  src/qComponents/QSwitch/src/q-switch.scss
  src/qComponents/QSwitch/src/types.ts
  src/qComponents/QSwitcher/index.ts
  src/qComponents/QSwitcher/src/types.ts
  src/qComponents/index.ts
  stories/components/QSwitch.stories.ts
  vuepress-docs/docs/.vuepress/public/QSwitcher/default.html
  vuepress-docs/docs/.vuepress/public/QSwitcher/disabled.html
  vuepress-docs/docs/.vuepress/public/QSwitcher/loading.html
  vuepress-docs/docs/components/QSwitcher.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSwitcher): types, little fixes
  src/qComponents/QSwitch/src/QSwitch.vue
  src/qComponents/QSwitch/src/q-switch.scss
  src/qComponents/QSwitch/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSwitcher): increase transition duration of switch handle
  src/qComponents/QSwitch/src/q-switch.scss
Due: prettier --write, stylelint --fix

feat: add font-smoothing
  src/main.scss
Due: prettier --write, stylelint --fix

fix(QSwitcher): fix styles, docs, remove unused code
  src/qComponents/QSwitch/src/QSwitch.vue
  src/qComponents/QSwitch/src/q-switch.scss
  stories/components/QSwitch.stories.ts
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QSwitch/default.html
  vuepress-docs/docs/.vuepress/public/QSwitch/disabled.html
  vuepress-docs/docs/.vuepress/public/QSwitch/loading.html
  vuepress-docs/docs/components/QSwitch.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSwitcher): naming, icon
  src/qComponents/QSwitch/index.ts
  src/qComponents/QSwitch/src/QSwitch.vue
  src/qComponents/QSwitch/src/q-switch.scss
  vuepress-docs/docs/components/QSwitch.md
Due: eslint --fix, prettier --write, stylelint --fix
