Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

fix: input style in the extended components
  src/qComponents/QCascader/src/QCascaderInput/q-cascader-input.scss
  src/qComponents/QSelect/src/q-select.scss
Due: prettier --write, stylelint --fix

fix: input style in the extended components (#251)
  src/qComponents/QCascader/src/QCascaderInput/q-cascader-input.scss
  src/qComponents/QSelect/src/q-select.scss
Due: prettier --write, stylelint --fix

chore: release v0.10.0
  package.json
Due: prettier --parser json --write

fix(QInputNumber): adjust internalValue conversion condition
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInputNumber): adjust internalValue conversion condition (#253)
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: popover
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QPopover/main.html
  vuepress-docs/docs/components/QPopover.md
Due: eslint --fix, prettier --write

chore: release v0.10.1
  package.json
Due: prettier --parser json --write

docs: add popover docs
  vuepress-docs/docs/.vuepress/public/QPopover/main.html
  vuepress-docs/docs/components/QColorpicker.md
  vuepress-docs/docs/components/QPopover.md
Due: none

docs: popover (#254)
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QPopover/main.html
  vuepress-docs/docs/components/QColorpicker.md
  vuepress-docs/docs/components/QPopover.md
Due: eslint --fix, prettier --write

fix: types errors
  src/qComponents/QSlider/src/components/QSliderBar/QSliderBar.vue
  src/qComponents/QSlider/src/components/QSliderBar/types.ts
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add vitest
  .gitignore
  package.json
  src/qComponents/QBreadcrumbs/QBreadcrumbs.test.ts
  src/qComponents/QBreadcrumbs/__snapshots__/QBreadcrumbs.test.ts.snap
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

chore: add vitest (#257)
  .gitignore
  package.json
  src/qComponents/QBreadcrumbs/QBreadcrumbs.test.ts
  src/qComponents/QBreadcrumbs/__snapshots__/QBreadcrumbs.test.ts.snap
  tsconfig.json
  vitest.config.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

fix: types
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/QSliderBar.vue
  src/qComponents/QSlider/src/components/QSliderBar/types.ts
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/Default.ts
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: type transfer
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(QScrollbar): add QScrollbar docs
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QScrollbar/theme.html
  vuepress-docs/docs/.vuepress/public/QScrollbar/visible.html
  vuepress-docs/docs/components/QScrollbar.md
Due: eslint --fix, prettier --write

fix: by comments
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/QSliderBar.vue
  src/qComponents/QSlider/src/components/QSliderBar/types.ts
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
  src/qComponents/QSlider/src/types.ts
  src/qComponents/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add radio button
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QRadio/QRadioGroup.html
  vuepress-docs/docs/.vuepress/public/QRadio/QRadioGroup[direction].html
  vuepress-docs/docs/.vuepress/public/QRadio/main.html
  vuepress-docs/docs/.vuepress/public/QRadio/slot.html
  vuepress-docs/docs/components/Layout.md
  vuepress-docs/docs/components/QContextMenu.md
  vuepress-docs/docs/components/QRadio.md
Due: eslint --fix, prettier --write, stylelint --fix

Update vuepress-docs/docs/components/QRadio.md
  vuepress-docs/docs/components/QRadio.md
Due: none

fix: prop description
  vuepress-docs/docs/components/QRadio.md
Due: none

fix: storybook desc
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: add radio button (#260)
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QRadio/QRadioGroup.html
  vuepress-docs/docs/.vuepress/public/QRadio/QRadioGroup[direction].html
  vuepress-docs/docs/.vuepress/public/QRadio/main.html
  vuepress-docs/docs/.vuepress/public/QRadio/slot.html
  vuepress-docs/docs/components/Layout.md
  vuepress-docs/docs/components/QContextMenu.md
  vuepress-docs/docs/components/QRadio.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: by comments
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/Default.ts
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write

fix: by comments
  src/qComponents/QSlider/src/types.ts
Due: eslint --fix, prettier --write

fix: by comments
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  src/qComponents/QSlider/src/types.ts
  src/qComponents/types.ts
  types/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: class value
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  src/qComponents/QSlider/src/types.ts
  types/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: enumerable
  types/helpers.ts
Due: eslint --fix, prettier --write

docs(QScrollbar): add examples, default props, fix indents
  vuepress-docs/docs/.vuepress/public/QScrollbar/default.html
  vuepress-docs/docs/.vuepress/public/QScrollbar/scrollto.html
  vuepress-docs/docs/components/QScrollbar.md
Due: none

docs(QScrollbar): increase height of default frame
  vuepress-docs/docs/.vuepress/public/QScrollbar/default.html
  vuepress-docs/docs/components/QScrollbar.md
Due: none

docs(QScrollbar): add QScrollbar docs (#259)
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QScrollbar/default.html
  vuepress-docs/docs/.vuepress/public/QScrollbar/scrollto.html
  vuepress-docs/docs/.vuepress/public/QScrollbar/theme.html
  vuepress-docs/docs/.vuepress/public/QScrollbar/visible.html
  vuepress-docs/docs/components/QScrollbar.md
Due: eslint --fix, prettier --write

feat: slider data generic
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write

feat(QInputNumber): add disabled icon
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QInputNumber/src/types.ts
  vuepress-docs/docs/.vuepress/public/QInputNumber/suffix.html
  vuepress-docs/docs/components/QInputNumber.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(QInputNumber): remove unused styles
  src/qComponents/QInputNumber/src/q-input-number.scss
Due: prettier --write, stylelint --fix

feat(QInputNumber): add disabled icon (#261)
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QInputNumber/src/types.ts
  vuepress-docs/docs/.vuepress/public/QInputNumber/suffix.html
  vuepress-docs/docs/components/QInputNumber.md
Due: eslint --fix, prettier --write, stylelint --fix

docs(QTabPane): add QTabPane docs
  vuepress-docs/docs/.vuepress/public/QTabPane/example.html
  vuepress-docs/docs/components/QTabPane.md
Due: none

feat: typing
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/Default.ts
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write

docs(QTabPane): add QTabs docs and examples
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QTabPane/content.html
  vuepress-docs/docs/.vuepress/public/QTabs/disabled.html
  vuepress-docs/docs/.vuepress/public/QTabs/example.html
  vuepress-docs/docs/.vuepress/public/QTabs/width.html
  vuepress-docs/docs/components/QTabPane.md
  vuepress-docs/docs/components/QTabs.md
Due: eslint --fix, prettier --write

fix: by comments
  stories/components/QSlider/Default.ts
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write

fix(QSlider): types (#255)
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/QSliderBar.vue
  src/qComponents/QSlider/src/components/QSliderBar/types.ts
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/Default.ts
  stories/components/QSlider/SlotCaption.ts
  types/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs(QTabPane): fix indents, add examples, move QTabPane to QTabs
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QTabPane/content.html
  vuepress-docs/docs/.vuepress/public/QTabPane/example.html
  vuepress-docs/docs/.vuepress/public/QTabs/disabled.html
  vuepress-docs/docs/.vuepress/public/QTabs/example.html
  vuepress-docs/docs/.vuepress/public/QTabs/width.html
  vuepress-docs/docs/components/QTabPane.md
  vuepress-docs/docs/components/QTabs.md
Due: eslint --fix, prettier --write

docs: select start
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QSelect/main.html
  vuepress-docs/docs/components/QSelect.md
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{vue, html})
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.{vue, html})
  stylelint --fix: (any of: *.scss) or (any of: *.{vue, html})
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
