Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue, html}": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

fix(QButton): add medium size styles
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): background-image
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): paddings, font-weight
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): icon sizes in medium size mode
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

feat: types
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/mobile/types.ts
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: types
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/panel/Date/types.ts
  src/qComponents/QDatePicker/src/panel/DateRange/DateRange.vue
  src/qComponents/QDatePicker/src/panel/DateRange/types.ts
  src/qComponents/QDatePicker/src/panel/MonthRange/MonthRange.vue
  src/qComponents/QDatePicker/src/panel/MonthRange/types.ts
  src/qComponents/QDatePicker/src/panel/YearRange/YearRange.vue
  src/qComponents/QDatePicker/src/panel/YearRange/types.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/DateTable/types.ts
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/PeriodTable/types.ts
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: types
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write

feat: types
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.15.0
  package.json
Due: prettier --parser json --write

feat: types
  src/qComponents/QDatePicker/src/tables/PeriodTable/PeriodTable.vue
  src/qComponents/QDatePicker/src/tables/PeriodTable/types.ts
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: types
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: types
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: types
  src/qComponents/QInput/src/QInput.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: types
  src/qComponents/QSelect/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: export types
  src/qComponents/QDatePicker/index.ts
Due: eslint --fix, prettier --write

feat: components
  src/qComponents/QSelect/src/components/QSelectDropdown/index.ts
  src/qComponents/QSelect/src/components/QSelectDropdown/index.vue
  src/qComponents/QSelect/src/components/QSelectDropdown/q-select-dropdown.scss
  src/qComponents/QSelect/src/components/QSelectDropdown/types.ts
  src/qComponents/QSelect/src/components/QSelectTags/index.ts
  src/qComponents/QSelect/src/components/QSelectTags/index.vue
  src/qComponents/QSelect/src/components/QSelectTags/q-select-tags.scss
  src/qComponents/QSelect/src/components/QSelectTags/types.ts
  src/qComponents/QSelect/src/q-select.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat: types
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/components/QSelectDropdown/index.ts
  src/qComponents/QSelect/src/components/QSelectDropdown/index.vue
  src/qComponents/QSelect/src/components/QSelectDropdown/types.ts
  src/qComponents/QSelect/src/components/QSelectTags/index.ts
  src/qComponents/QSelect/src/components/QSelectTags/index.vue
  src/qComponents/QSelect/src/components/QSelectTags/types.ts
  src/qComponents/QSelect/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: by comments
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): rewrite styles using common properties, vars
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/q-button.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): add BEM based class to q-icon-reverse, use font-weight-base var
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/q-button.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix: by comments
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: by comments
  src/qComponents/QSelect/src/components/QSelectDropdown/index.vue
  src/qComponents/QSelect/src/components/QSelectDropdown/types.ts
  src/qComponents/QSelect/src/components/QSelectTags/types.ts
  src/qComponents/QSelect/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types
  src/qComponents/QSelect/src/components/QSelectDropdown/index.vue
  src/qComponents/QSelect/src/components/QSelectDropdown/types.ts
  src/qComponents/QSelect/src/components/QSelectTags/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: q-switch
  vuepress-docs/docs/components/QSwitch.md
Due: none

docs: q-switch (#297)
  vuepress-docs/docs/components/QSwitch.md
Due: none

fix: update value if options loaded remotely
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs(QUpload): add QUpload docs, describe props, events
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QUpload/example.html
  vuepress-docs/docs/components/QUpload.md
Due: eslint --fix, prettier --write

fix: update value if options loaded remotely (#301)
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs(QUpload): add QUpload examples
  vuepress-docs/docs/.vuepress/public/QUpload/direction.html
  vuepress-docs/docs/.vuepress/public/QUpload/disabled.html
  vuepress-docs/docs/.vuepress/public/QUpload/textloading.html
  vuepress-docs/docs/.vuepress/public/QUpload/textreplace.html
  vuepress-docs/docs/.vuepress/public/QUpload/textupload.html
  vuepress-docs/docs/.vuepress/public/QUpload/textuploadedfiles.html
  vuepress-docs/docs/components/QUpload.md
Due: none

fix(QUpload): move textUploadedFiles prop to qUploadFileMultiple
  src/qComponents/QUpload/src/QUpload.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QUpload): move textUploadedFiles prop to qUploadFileMultiple (#303)
  src/qComponents/QUpload/src/QUpload.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs(QUpload): add QUpload docs (#302)
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QUpload/direction.html
  vuepress-docs/docs/.vuepress/public/QUpload/disabled.html
  vuepress-docs/docs/.vuepress/public/QUpload/example.html
  vuepress-docs/docs/.vuepress/public/QUpload/textloading.html
  vuepress-docs/docs/.vuepress/public/QUpload/textreplace.html
  vuepress-docs/docs/.vuepress/public/QUpload/textupload.html
  vuepress-docs/docs/.vuepress/public/QUpload/textuploadedfiles.html
  vuepress-docs/docs/components/QUpload.md
Due: eslint --fix, prettier --write

fix(QUpload): fix background with transparent border
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QUpload): border-width var, paddings
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): border-width, text-transform
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): border-width in px
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

docs(QTable): add docs and examples
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QTable/customrowclass.html
  vuepress-docs/docs/.vuepress/public/QTable/customrowstyle.html
  vuepress-docs/docs/.vuepress/public/QTable/data.js
  vuepress-docs/docs/.vuepress/public/QTable/example.html
  vuepress-docs/docs/.vuepress/public/QTable/selection.html
  vuepress-docs/docs/components/QTable.md
Due: eslint --fix, prettier --write

docs(QTable): add fixedLayout and loading examples
  vuepress-docs/docs/.vuepress/public/QTable/data.js
  vuepress-docs/docs/.vuepress/public/QTable/layout.html
  vuepress-docs/docs/.vuepress/public/QTable/loading.html
  vuepress-docs/docs/.vuepress/public/QTable/selection.html
  vuepress-docs/docs/components/QTable.md
Due: eslint --fix, prettier --write
