Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

docs: select
  vuepress-docs/docs/.vuepress/public/QSelect/clearable.html
  vuepress-docs/docs/.vuepress/public/QSelect/disabled.html
  vuepress-docs/docs/.vuepress/public/QSelect/filterable.html
  vuepress-docs/docs/.vuepress/public/QSelect/multiple.html
  vuepress-docs/docs/.vuepress/public/QSelect/remote.html
  vuepress-docs/docs/components/QSelect.md
Due: none

docs: complete select
  vuepress-docs/docs/.vuepress/public/QSelect/[QOption]disabled.html
  vuepress-docs/docs/.vuepress/public/QSelect/allowCreate.html
  vuepress-docs/docs/.vuepress/public/QSelect/main.html
  vuepress-docs/docs/.vuepress/public/QSelect/remote.html
  vuepress-docs/docs/.vuepress/public/QSelect/slot.html
  vuepress-docs/docs/components/QSelect.md
Due: none

fix: comments
  vuepress-docs/docs/.vuepress/public/QSelect/[QOption]disabled.html
  vuepress-docs/docs/.vuepress/public/QSelect/allowCreate.html
  vuepress-docs/docs/.vuepress/public/QSelect/disabled.html
  vuepress-docs/docs/components/QSelect.md
Due: none

fix: comments
  vuepress-docs/docs/.vuepress/public/QSelect/[QOption]disabled.html
Due: none

feat(QInput): prioritize passwordSwitch visibility when used with clearable flag
  src/qComponents/QInput/src/QInput.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QForm): return correct invalidFields in validate method
  src/qComponents/QForm/src/QForm.vue
Due: eslint --fix, prettier --write, stylelint --fix

Update vuepress-docs/docs/components/QSelect.md
  vuepress-docs/docs/components/QSelect.md
Due: none

fix: comment
  vuepress-docs/docs/components/QSelect.md
Due: none

docs: QSelect (#265)
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QSelect/[QOption]disabled.html
  vuepress-docs/docs/.vuepress/public/QSelect/allowCreate.html
  vuepress-docs/docs/.vuepress/public/QSelect/clearable.html
  vuepress-docs/docs/.vuepress/public/QSelect/disabled.html
  vuepress-docs/docs/.vuepress/public/QSelect/filterable.html
  vuepress-docs/docs/.vuepress/public/QSelect/main.html
  vuepress-docs/docs/.vuepress/public/QSelect/multiple.html
  vuepress-docs/docs/.vuepress/public/QSelect/remote.html
  vuepress-docs/docs/.vuepress/public/QSelect/slot.html
  vuepress-docs/docs/components/QSelect.md
Due: eslint --fix, prettier --write

fix(QForm): return correct invalidFields in validate method (#267)
  src/qComponents/QForm/src/QForm.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QInput): prioritize passwordSwitch visibility when used with clearable flag (#266)
  src/qComponents/QInput/src/QInput.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.11.0
  package.json
Due: prettier --parser json --write

Update README.md
  README.md
Due: none

feat(QInputNumber): format number on blur
  src/qComponents/QInputNumber/src/QInputNumber.vue
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: change qtabs doc
  src/qComponents/QButton/src/q-button.scss
  vuepress-docs/docs/.vuepress/public/QTabPane/content.html
  vuepress-docs/docs/.vuepress/public/QTabPane/example.html
  vuepress-docs/docs/.vuepress/public/QTabs/disabled.html
  vuepress-docs/docs/.vuepress/public/QTabs/example.html
  vuepress-docs/docs/.vuepress/public/QTabs/width.html
  vuepress-docs/docs/components/QTabs.md
Due: prettier --write, stylelint --fix

feat(QInputNumber): format number on blur - use toLocaleString
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QInputNumber): format number on blur - prop validator, fix incorrect value on focus
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QInputNumber): format number on blur - fix import order
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

Update vuepress-docs/docs/components/QTabs.md
  vuepress-docs/docs/components/QTabs.md
Due: none

fix: comments
  vuepress-docs/docs/.vuepress/public/QTabPane/content.html
  vuepress-docs/docs/components/QTabs.md
Due: none

docs(QTabs): add QTabs docs (#263)
  src/qComponents/QButton/src/q-button.scss
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QTabPane/content.html
  vuepress-docs/docs/.vuepress/public/QTabs/disabled.html
  vuepress-docs/docs/.vuepress/public/QTabs/example.html
  vuepress-docs/docs/.vuepress/public/QTabs/width.html
  vuepress-docs/docs/components/QTabs.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: add chinese locale
  src/qComponents/constants/locales/index.ts
  src/qComponents/constants/locales/zh.ts
Due: eslint --fix, prettier --write

fix: chinese locales nextMonth error
  src/qComponents/constants/locales/zh.ts
Due: eslint --fix, prettier --write

feat: add chinese locale (#270)
  src/qComponents/constants/locales/index.ts
  src/qComponents/constants/locales/zh.ts
Due: eslint --fix, prettier --write

feat(QInputNumber): format number on blur (#268)
  src/qComponents/QInputNumber/src/QInputNumber.vue
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QTabs): update design
  src/qComponents/QTabPane/src/q-tab-pane.scss
Due: prettier --write, stylelint --fix

feat(QTabs): update design - fixes after review
  src/qComponents/QTabPane/src/q-tab-pane.scss
Due: prettier --write, stylelint --fix

feat(QTabs): update design - adjust shadows, remove description
  src/qComponents/QTabPane/src/QTabPane.vue
  src/qComponents/QTabPane/src/q-tab-pane.scss
  src/qComponents/QTabPane/src/types.ts
  stories/components/QTabPane.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QTabs): remove description prop from docs
  vuepress-docs/docs/.vuepress/public/QTabs/example.html
  vuepress-docs/docs/components/QTabs.md
Due: none

feat(QTabs): fix formatting & add prettier-ignore comments to docs
  vuepress-docs/docs/components/QTabs.md
Due: none

feat(QTable): allow to use path in column key
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/QTableTBodyRow.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QTable): allow to use path in column key (#272)
  src/qComponents/QTable/src/QTableTBody/QTableTBodyRow/QTableTBodyRow.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QTabs): update design (#271)
  src/qComponents/QTabPane/src/QTabPane.vue
  src/qComponents/QTabPane/src/q-tab-pane.scss
  src/qComponents/QTabPane/src/types.ts
  stories/components/QTabPane.stories.ts
  vuepress-docs/docs/.vuepress/public/QTabs/example.html
  vuepress-docs/docs/components/QTabs.md
Due: eslint --fix, prettier --write, stylelint --fix

feat(Locale): add Chinese
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/tables/DateTable/DateTable.vue
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
  src/qComponents/index.ts
  src/qComponents/locale/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor(Locale): cleanup
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
  src/qComponents/locale/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{vue, html})
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.{vue, html})
  stylelint --fix: (any of: *.scss) or (any of: *.{vue, html})
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
