Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue, html}": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

chore: release v0.9.1
  package.json
Due: prettier --parser json --write

Update README.md
  README.md
Due: none

feat: add new input number component
  src/components.scss
  src/qComponents/QInputNumberNew/index.ts
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
  src/qComponents/QInputNumberNew/src/helpers.ts
  src/qComponents/QInputNumberNew/src/q-input-number-new.scss
  src/qComponents/QInputNumberNew/src/types.ts
  src/qComponents/index.ts
  stories/components/QInputNumberNew.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: form
  src/qComponents/QInput/src/q-input.scss
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QForm/disabled.html
  vuepress-docs/docs/.vuepress/public/QForm/main.html
  vuepress-docs/docs/components/QForm.md
Due: eslint --fix, prettier --write, stylelint --fix

fix: clean up
  vuepress-docs/docs/.vuepress/public/QForm/disabled.html
  vuepress-docs/docs/.vuepress/public/QForm/main.html
  vuepress-docs/docs/components/QForm.md
Due: none

docs: form fixes
  vuepress-docs/docs/components/QForm.md
Due: none

docs: form (#244)
  src/qComponents/QInput/src/q-input.scss
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QForm/disabled.html
  vuepress-docs/docs/.vuepress/public/QForm/main.html
  vuepress-docs/docs/components/QForm.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: add new input number component
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
  src/qComponents/QInputNumberNew/src/types.ts
  stories/components/QInputNumberNew.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: examples
  vuepress-docs/docs/.vuepress/public/QForm/disabled.html
  vuepress-docs/docs/.vuepress/public/QForm/main.html
Due: none

QForm Examples fixes (#247)
  vuepress-docs/docs/.vuepress/public/QForm/disabled.html
  vuepress-docs/docs/.vuepress/public/QForm/main.html
Due: none

feat: add new input number component
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
  src/qComponents/QInputNumberNew/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add new input number component
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: edit validateOnRuleChange default
  vuepress-docs/docs/components/QForm.md
Due: none

docs: add q-form-item
  vuepress-docs/docs/components/Layout.md
  vuepress-docs/docs/components/QBreadcrumbs.md
  vuepress-docs/docs/components/QButton.md
  vuepress-docs/docs/components/QCascader.md
  vuepress-docs/docs/components/QCheckbox.md
  vuepress-docs/docs/components/QCheckboxGroup.md
  vuepress-docs/docs/components/QCollapse.md
  vuepress-docs/docs/components/QColorpicker.md
  vuepress-docs/docs/components/QContextMenu.md
  vuepress-docs/docs/components/QDatepicker.md
  vuepress-docs/docs/components/QForm.md
Due: none

docs: edit validateOnRuleChange default (#248)
  vuepress-docs/docs/components/QForm.md
Due: none

docs: add props
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]error.html
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]sublabel.html
  vuepress-docs/docs/components/QForm.md
Due: none

docs: complete
  vuepress-docs/docs/components/QForm.md
Due: none

docs: add slots
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]slots.html
  vuepress-docs/docs/components/QForm.md
Due: none

docs: add slot
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]slots.html
  vuepress-docs/docs/components/QForm.md
Due: none

docs: fix grammar
  vuepress-docs/docs/components/QForm.md
Due: none

Docs: form item (#249)
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]error.html
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]slots.html
  vuepress-docs/docs/.vuepress/public/QForm/[QFormItem]sublabel.html
  vuepress-docs/docs/components/Layout.md
  vuepress-docs/docs/components/QBreadcrumbs.md
  vuepress-docs/docs/components/QButton.md
  vuepress-docs/docs/components/QCascader.md
  vuepress-docs/docs/components/QCheckbox.md
  vuepress-docs/docs/components/QCheckboxGroup.md
  vuepress-docs/docs/components/QCollapse.md
  vuepress-docs/docs/components/QColorpicker.md
  vuepress-docs/docs/components/QContextMenu.md
  vuepress-docs/docs/components/QDatepicker.md
  vuepress-docs/docs/components/QForm.md
Due: none

feat: add new input number component
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
  src/qComponents/QInputNumberNew/src/q-input-number-new.scss
  src/qComponents/QInputNumberNew/src/types.ts
  stories/components/QInputNumberNew.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add new input number component
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
  stories/components/QInputNumberNew.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: new input number - internalValue
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
  stories/components/QInputNumberNew.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: new input number - docs
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QInputNumberNew/disabled.html
  vuepress-docs/docs/.vuepress/public/QInputNumberNew/main.html
  vuepress-docs/docs/.vuepress/public/QInputNumberNew/positive.html
  vuepress-docs/docs/.vuepress/public/QInputNumberNew/precision.html
  vuepress-docs/docs/components/QInputNumberNew.md
Due: eslint --fix, prettier --write

feat: new input number - adjust value formatting
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: new input number - adjust model update rules
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: add QInput doc
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QInput/clearable.html
  vuepress-docs/docs/.vuepress/public/QInput/main.html
  vuepress-docs/docs/.vuepress/public/QInput/passwordSwitch.html
  vuepress-docs/docs/.vuepress/public/QInput/showSymbolLimit.html
  vuepress-docs/docs/.vuepress/public/QInput/suffix.html
  vuepress-docs/docs/.vuepress/public/QInput/suffixIcon.html
  vuepress-docs/docs/components/QInput.md
Due: eslint --fix, prettier --write

feat: new input number - refactor value processing
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
  src/qComponents/QInputNumberNew/src/helpers.ts
  src/qComponents/QInputNumberNew/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: new input number - replace original qinputnumber
  src/components.scss
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QInputNumber/src/types.ts
  src/qComponents/QInputNumberNew/index.ts
  src/qComponents/QInputNumberNew/src/QInputNumberNew.vue
  src/qComponents/QInputNumberNew/src/q-input-number-new.scss
  src/qComponents/QInputNumberNew/src/types.ts
  src/qComponents/index.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QInputNumberNew.stories.ts
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QInputNumber/disabled.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/main.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/positive.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/precision.html
  vuepress-docs/docs/components/QInputNumber.md
Due: eslint --fix, prettier --write, stylelint --fix

feat: new input number - fix naming
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add pagination
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QPagination/currentPage.html
  vuepress-docs/docs/.vuepress/public/QPagination/disabled.html
  vuepress-docs/docs/.vuepress/public/QPagination/events.html
  vuepress-docs/docs/.vuepress/public/QPagination/main.html
  vuepress-docs/docs/.vuepress/public/QPagination/pagerCount.html
  vuepress-docs/docs/components/QInput.md
  vuepress-docs/docs/components/QPagination.md
Due: eslint --fix, prettier --write

fix: templates
  vuepress-docs/docs/.vuepress/public/QPagination/currentPage.html
  vuepress-docs/docs/.vuepress/public/QPagination/disabled.html
  vuepress-docs/docs/.vuepress/public/QPagination/events.html
  vuepress-docs/docs/.vuepress/public/QPagination/main.html
  vuepress-docs/docs/.vuepress/public/QPagination/pagerCount.html
Due: none

docs: add pagination (#250)
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QPagination/currentPage.html
  vuepress-docs/docs/.vuepress/public/QPagination/disabled.html
  vuepress-docs/docs/.vuepress/public/QPagination/main.html
  vuepress-docs/docs/.vuepress/public/QPagination/pagerCount.html
  vuepress-docs/docs/components/QInput.md
  vuepress-docs/docs/components/QPagination.md
Due: eslint --fix, prettier --write

feat: new input number - fix docs examples
  stories/components/QInputNumber.stories.ts
  vuepress-docs/docs/.vuepress/public/QInputNumber/disabled.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/main.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/positive.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/precision.html
  vuepress-docs/docs/components/QInputNumber.md
Due: eslint --fix, prettier --write

feat: add new input number component (#242)
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QInputNumber/src/types.ts
  stories/components/QInputNumber.stories.ts
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QInputNumber/disabled.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/main.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/positive.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/precision.html
  vuepress-docs/docs/components/QInputNumber.md
Due: eslint --fix, prettier --write, stylelint --fix
