Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

define isTouchDevice with media query
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/tables/DateTable/date-table.scss
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/isTouchDevice.ts
Due: eslint --fix, prettier --write, stylelint --fix

ref
  src/qComponents/hooks/index.ts
Due: eslint --fix, prettier --write

multiple: fix number value emitting, change initial value [] -> null, fix allow-create bug
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  stories/components/QSelect.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

ref
  src/qComponents/QSelect/src/QSelect.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix & update story
  src/qComponents/QSelect/src/QSelect.vue
  stories/components/QSelect.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: rename and export notify injection key
  src/qComponents/QNotification/index.ts
  src/qComponents/QNotification/src/constants.ts
Due: eslint --fix, prettier --write

fix: make sure the dist dir exists
  vite.config.ts
Due: eslint --fix, prettier --write

fix some bugs
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

add live v-model to story
  stories/components/QDatePicker.stories.ts
Due: eslint --fix, prettier --write

[QSelect] minor fixes (#141)
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: rename and export notify injection key (#142)
  src/qComponents/QNotification/index.ts
  src/qComponents/QNotification/src/constants.ts
  vite.config.ts
Due: eslint --fix, prettier --write

feat: inherit global components and provides from root
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QMessageBox/src/types.ts
Due: eslint --fix, prettier --write

fix: messageBox stories in storybook
  stories/plugins/QMessageBox/Component.stories.ts
  stories/plugins/QMessageBox/Default.stories.ts
  stories/plugins/QMessageBox/Extended.stories.ts
Due: eslint --fix, prettier --write

docs: add explanatory comment
  src/qComponents/QMessageBox/src/index.ts
Due: eslint --fix, prettier --write

fix: bind modelValue to native input
  src/qComponents/QTextarea/src/QTextarea.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: calc textarea styles
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/calcTextareaHeight.ts
Due: eslint --fix, prettier --write, stylelint --fix

ref
  src/qComponents/QTextarea/src/calcTextareaHeight.ts
Due: eslint --fix, prettier --write

[QTextarea] Minor fixes (#144)
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/calcTextareaHeight.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: inherit global components and provides from root (#143)
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QMessageBox/src/types.ts
  stories/plugins/QMessageBox/Component.stories.ts
  stories/plugins/QMessageBox/Default.stories.ts
  stories/plugins/QMessageBox/Extended.stories.ts
Due: eslint --fix, prettier --write

bump v
  package.json
Due: prettier --parser json --write

fix story
  stories/components/QDatePicker.stories.ts
Due: eslint --fix, prettier --write

Fix hover
  src/qComponents/QContextMenu/src/q-context-menu.scss
Due: prettier --write, stylelint --fix

fix: add to Pagination stories handlePageChange
  stories/components/QPagination.stories.ts
Due: eslint --fix, prettier --write

fix: return currentPage to default args, use it in currentPage ref
  stories/components/QPagination.stories.ts
Due: eslint --fix, prettier --write

feat: add page changing handler to QPagination stories (#146)
  stories/components/QPagination.stories.ts
Due: eslint --fix, prettier --write

[QDialog] add width prop to the story component
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write

fix: add target checking in handleTriggerClick, move cursor pointer from trigger to button
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/q-context-menu.scss
  src/qComponents/QContextMenu/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove type asserting from handleTriggerClick
  src/qComponents/QContextMenu/src/QContextMenu.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix trigger hover and add click target checking in QContextMenu (#145)
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/q-context-menu.scss
  src/qComponents/QContextMenu/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: width and offset styles
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/types.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: naming and types
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: offsetTop type set to string or number
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/types.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add logic with prop offsetTop in QDialog and fix story (#147)
  src/qComponents/QDialog/src/QDialog.vue
  src/qComponents/QDialog/src/types.ts
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: add hover class to the parent container
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: move hover class to the tags element
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QCascader/src/QCascaderTags/types.ts
  src/qComponents/QCascader/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: add commitlint
  .commitlintrc
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: add commitlint cli
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: add commitlint (#149)
  .commitlintrc
  .husky/commit-msg
  package.json
  yarn.lock
Due: prettier --parser json --write

fix: update cache hash
  src/icons/icons.scss
Due: prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.vue)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
