Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

refact
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableContainer.vue
  src/qComponents/QTable/src/QTableT.vue
  src/qComponents/QTable/src/QTableTBodyRow.vue
  src/qComponents/QTable/src/QTableTColgroup.vue
  src/qComponents/QTable/src/QTableTHead.vue
  src/qComponents/QTable/src/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTTotal.vue
  src/qComponents/QTable/src/q-table-t-head-cell.scss
  stories/components/QTable/CustomRows.ts
  stories/components/QTable/CustomWidth.ts
  stories/components/QTable/Default.ts
  stories/components/QTable/Groups.ts
  stories/components/QTable/Selectable.ts
  stories/components/QTable/StickyColumn.ts
  stories/components/QTable/Total.ts
  stories/components/QTable/args.ts
Due: prettier --write, stylelint --fix

Fix path to type
  src/qComponents/QTable/src/QTableT.d.ts
Due: prettier --write

Add type to import
  src/qComponents/QTable/src/QTableCellCheckbox.d.ts
  src/qComponents/QTable/src/QTableContainer.d.ts
  src/qComponents/QTable/src/QTableEmpty.d.ts
  src/qComponents/QTable/src/QTableT.d.ts
  src/qComponents/QTable/src/QTableTBody.d.ts
  src/qComponents/QTable/src/QTableTBodyCell.d.ts
  src/qComponents/QTable/src/QTableTBodyRow.d.ts
  src/qComponents/QTable/src/QTableTColgroup.d.ts
  src/qComponents/QTable/src/QTableTHead.d.ts
  src/qComponents/QTable/src/QTableTHeadCell.d.ts
  src/qComponents/QTable/src/QTableTTotal.d.ts
  src/qComponents/QTable/src/QTableTTotalCell.d.ts
Due: prettier --write

Styles refact
  src/qComponents/QTable/src/QTableEmpty/q-table-empty.scss
  src/qComponents/QTable/src/QTableT/q-table-t.scss
  src/qComponents/QTable/src/QTableTBody/q-table-t-body-cell.scss
  src/qComponents/QTable/src/QTableTBody/q-table-t-body-row.scss
  src/qComponents/QTable/src/QTableTBody/q-table-t-body.scss
  src/qComponents/QTable/src/QTableTHead/q-table-t-head-cell.scss
  src/qComponents/QTable/src/QTableTHead/q-table-t-head.scss
  src/qComponents/QTable/src/QTableTTotal/q-table-t-total-cell.scss
  src/qComponents/QTable/src/QTableTTotal/q-table-t-total.scss
  src/qComponents/QTable/src/q-table.scss
Due: prettier --write, stylelint --fix

Add isHidden to columns
  src/qComponents/QTable/src/QTable.d.ts
  src/qComponents/QTable/src/QTable.vue
  src/qComponents/QTable/src/QTableContainer/QTableContainer.vue
Due: prettier --write, stylelint --fix

Sticky refact
  src/qComponents/QTable/src/QTableCellCheckbox/QTableCellCheckbox.vue
  src/qComponents/QTable/src/QTableT/QTableT.d.ts
  src/qComponents/QTable/src/QTableT/QTableT.vue
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell.vue
  src/qComponents/QTable/src/QTableTHead/QTableTHeadCell.vue
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.d.ts
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
  src/qComponents/QTable/src/QTableTTotal/QTableTTotalCell.vue
  src/qComponents/QTable/src/config.ts
  src/qComponents/QTable/src/helpers/sticky.d.ts
  src/qComponents/QTable/src/helpers/sticky.ts
  stories/components/QTable/Draggable.js
  stories/components/QTable/QTable.stories.ts
  yarn.lock
Due: prettier --write, stylelint --fix

Add nvmrc
  .nvmrc
  .prettierignore
Due: prettier --parser json --write

Add story
  stories/components/QCascader.stories.ts
Due: prettier --write

Add base of QCascader
  src/qComponents/QCascader/index.ts
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
Due: prettier --write, stylelint --fix

Add base input and base dropdown
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown.vue
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone.vue
  src/qComponents/index.ts
  stories/components/QCascader.stories.ts
Due: prettier --write, stylelint --fix

first
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/basic/date-table.vue
  src/qComponents/QDatePicker/src/basic/month-table.vue
  src/qComponents/QDatePicker/src/basic/types.ts
  src/qComponents/QDatePicker/src/basic/year-table.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/composition.ts
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/month-range.vue
  src/qComponents/QDatePicker/src/panel/range-mixin.js
  src/qComponents/QDatePicker/src/panel/types.ts
  src/qComponents/QDatePicker/src/panel/year-range.vue
  src/qComponents/helpers/dateHelpers.ts
  yarn.lock
Due: prettier --write, stylelint --fix

Enable popperjs in dropdown
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown.vue
Due: prettier --write, stylelint --fix

wip
  src/qComponents/QDatePicker/src/q-date-picker.scss
  stories/components/QDatePicker/DateRange.js
  stories/components/QDatePicker/DateTime.js
  stories/components/QDatePicker/DateTimeRange.js
  stories/components/QDatePicker/Default.ts
  stories/components/QDatePicker/Month.js
  stories/components/QDatePicker/MonthRange.js
  stories/components/QDatePicker/QDatePicker.stories.ts
  stories/components/QDatePicker/Year.js
  stories/components/QDatePicker/YearRange.js
Due: prettier --write, stylelint --fix

Add QCascaderColumn and QCascaderRow and some styles
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow.vue
  src/qComponents/QCascader/src/q-cascader-column.scss
  src/qComponents/QCascader/src/q-cascader-dropdown.scss
  src/qComponents/QCascader/src/q-cascader-row.scss
  src/qComponents/QCascader/src/q-cascader.scss
  src/vars.scss
  stories/components/QCascader.stories.ts
Due: prettier --write, stylelint --fix

Handle events in QCascaderRow
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow.vue
  src/qComponents/QCascader/src/q-cascader-row.scss
Due: prettier --write, stylelint --fix

Add value updater
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn.vue
Due: prettier --write, stylelint --fix

Add expand possibility
  src/qComponents/QCascader/src/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown.vue
  src/qComponents/QCascader/src/q-cascader-column.scss
  src/qComponents/QCascader/src/q-cascader-dropdown.scss
  src/qComponents/QCascader/src/q-cascader-row.scss
Due: prettier --write, stylelint --fix

Mark expanded row
  src/qComponents/QCascader/src/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow.vue
  src/qComponents/QCascader/src/q-cascader-row.scss
Due: prettier --write, stylelint --fix

Add QCascaderInput
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderDropdown.d.ts
  src/qComponents/QCascader/src/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderInput.d.ts
  src/qComponents/QCascader/src/QCascaderInput.vue
  src/qComponents/QNotification/src/types.ts
  src/qComponents/QSelect/src/types.ts
  stories/components/QNotification.stories.ts
Due: prettier --write, stylelint --fix

wip
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/helpers.ts
  src/qComponents/QDatePicker/src/panel/constants.ts
  src/qComponents/QDatePicker/src/panel/date-range.vue
  src/qComponents/QDatePicker/src/panel/date.vue
  src/qComponents/QDatePicker/src/panel/month-range.vue
  src/qComponents/QDatePicker/src/panel/types.ts
  src/qComponents/QDatePicker/src/panel/year-range.vue
  src/qComponents/QDatePicker/src/tables/date-table.vue
  src/qComponents/QDatePicker/src/tables/month-table.vue
  src/qComponents/QDatePicker/src/tables/types.ts
  src/qComponents/QDatePicker/src/tables/year-table.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/index.ts
  stories/components/QDatePicker/Default.ts
  stories/components/QDatePicker/QDatePicker.stories.ts
Due: prettier --write, stylelint --fix

Fix scrollbar
  src/qComponents/QTable/src/QTableContainer/q-table-container.scss
  src/qComponents/QTable/src/q-table.scss
  stories/components/QTable/StickyColumn.ts
Due: prettier --write, stylelint --fix

Remove comment
  src/qComponents/QTable/src/QTableTSticky/QTableTSticky.vue
Due: stylelint --fix

Add label when single value
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderInput.d.ts
  src/qComponents/QCascader/src/QCascaderInput.vue
  src/qComponents/QCascader/src/helpers/findFullPath.ts
Due: prettier --write, stylelint --fix

Fix clickable zone
  src/qComponents/QCascader/src/QCascaderDropdown.vue
Due: stylelint --fix

Add clearable
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderInput.d.ts
  src/qComponents/QCascader/src/QCascaderInput.vue
Due: prettier --write, stylelint --fix

Add placeholder
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderInput.d.ts
  src/qComponents/QCascader/src/QCascaderInput.vue
  src/qComponents/QCascader/src/q-cascader-input.scss
  src/qComponents/QCascader/src/q-cascader.scss
Due: prettier --write, stylelint --fix

Add some border radiuses
  src/qComponents/QCascader/src/q-cascader-column.scss
  src/qComponents/QCascader/src/q-cascader-row.scss
Due: prettier --write, stylelint --fix

Make checbox clickable
  src/qComponents/QCascader/src/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow.vue
Due: prettier --write, stylelint --fix

Add possibility Mark row as checked
  src/qComponents/QCascader/src/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow.vue
Due: prettier --write, stylelint --fix

Upp multiple logics
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow.vue
  src/qComponents/QCascader/src/helpers/findAllLeaves.ts
  src/qComponents/QCascader/src/helpers/getChildStatuses.ts
Due: prettier --write, stylelint --fix

Add config for dependabot (#30)
  .github/dependabot.yml
Due: prettier --parser yaml --write

Update some deps
  yarn.lock
Due: none

Fix toggle value logic
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn.d.ts
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderRow.vue
Due: prettier --write, stylelint --fix

Add QCascaderTags
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderDropdown.vue
  src/qComponents/QCascader/src/QCascaderTags.d.ts
  src/qComponents/QCascader/src/QCascaderTags.vue
  src/qComponents/QCascader/src/q-cascader-tags.scss
  src/qComponents/QCascader/src/q-cascader.scss
  src/qComponents/QTag/src/q-tag.scss
Due: prettier --write, stylelint --fix

Close dropdown on disable
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
Due: prettier --write, stylelint --fix

Fix focus and some styles
  src/qComponents/QCascader/src/QCascader.d.ts
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderInput.d.ts
  src/qComponents/QCascader/src/QCascaderInput.vue
  src/qComponents/QCascader/src/q-cascader-column.scss
  src/qComponents/QCascader/src/q-cascader-row.scss
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

Move QCascaderTags
  src/qComponents/QCascader/src/QCascader.vue
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.d.ts
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QCascader/src/QCascaderTags/q-cascader-tags.scss
  src/qComponents/QCascader/src/q-cascader.scss
Due: prettier --write, stylelint --fix

Move QCascaderRow
  src/qComponents/QCascader/src/QCascaderColumn.vue
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.d.ts
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderRow/q-cascader-row.scss
  src/qComponents/QCascader/src/q-cascader.scss
Due: prettier --write, stylelint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts}) or (any of: *.scss)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
