Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

fix: fix step with decimal
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: do not crash if precision < 0
  src/qComponents/QInputNumber/src/QInputNumber.vue
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: update min description
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove checkStringAdditions
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write

fix: fix selectAll option
  src/qComponents/QSelect/src/QSelectDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: use "nullish coalescing" instead "or"
  src/qComponents/QSelect/src/QSelectDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSelect): fix selectAll option (#182)
  src/qComponents/QSelect/src/QSelectDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

[QInputNumber] upgrade with additions and formatting (#74)
  .husky/_/husky.sh
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QInputNumber/src/types.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: bump v
  package.json
Due: prettier --parser json --write

docs: add nuxt 3 instruction to readme
  README.md
Due: none

docs: add nuxt 3 instruction to storybook intro
  stories/intro.stories.mdx
Due: none

docs(readme): Add Nuxt 3 instruction to readme (#187)
  README.md
  stories/intro.stories.mdx
Due: none

fix: fix color-picker input focus
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix type
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: clear input value on clear-button click, fix tab
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix allLevelShown in multiple mode
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QCascader/src/helpers/findLabel.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: add ability to select branch node in default mode
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderRow/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: setup docs
  .gitignore
  .husky/_/husky.sh
  package.json
  yarn.lock
Due: prettier --parser json --write

fix: select row only via checkbox if checkStrictly
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: remove findLabel, use findFullPath instead
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
  src/qComponents/QCascader/src/helpers/findLabel.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix code style
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QCascader): Add ability to select branch node (#190)
  src/qComponents/QCascader/src/QCascaderRow/QCascaderRow.vue
  src/qComponents/QCascader/src/QCascaderRow/types.ts
  src/qComponents/QCascader/src/QCascaderTags/QCascaderTags.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix cursor position on first open colorPicker
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/types.ts
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/types.ts
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: clear input and hide cursor, when clear-button clicked
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: show hidden cursor when valid value in input
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

docs: add introduction
  package.json
  yarn.lock
Due: prettier --parser json --write

0.6.0
  package.json
Due: prettier --parser json --write

feat: add release tool
  .husky/_/husky.sh
  package.json
  yarn.lock
Due: prettier --parser json --write

feat: add release config
  .release-it.json
Due: prettier --parser json --write

chore: release v0.6.0
  package.json
Due: prettier --parser json --write

fix: fix self-changing value when click apply
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix self-changing value again, fix cursor position, validate input value
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: change cursor position on blur or enter keyup in input
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: clear value by clearing input (allow applying empty input), fix showing cursor
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: fix naming and code style
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: allow alpha in hex mode
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: use two ways of communicate
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/types.ts
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/types.ts
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: destroy dropdown when it's hidded
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: use inject instead of props
  src/qComponents/QColorPicker/src/QColorAlphaSlider/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider/index.ts
  src/qComponents/QColorPicker/src/QColorAlphaSlider/types.ts
  src/qComponents/QColorPicker/src/QColorHueSlider/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider/index.ts
  src/qComponents/QColorPicker/src/QColorHueSlider/types.ts
  src/qComponents/QColorPicker/src/QColorSvpanel/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QColorSvpanel/index.ts
  src/qComponents/QColorPicker/src/QColorSvpanel/types.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/index.ts
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: improve types
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
Due: eslint --fix, prettier --write, stylelint --fix
