Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

Update README.md
  README.md
Due: none

add license
  .readme-assets/datepicker.jpg
  LICENSE
Due: none

add build storybook script
  package.json
Due: prettier --parser json --write

update pj
  package.json
Due: prettier --parser json --write

add intro
  stories/intro.stories.mdx
Due: none

add intro (#87)
  stories/intro.stories.mdx
Due: none

add actions
  .github/workflows/codeql-analysis.yml
  .github/workflows/deploy.yml
Due: prettier --parser yaml --write

fix code
  src/qComponents/index.ts
Due: eslint --fix, prettier --write

Upd docs
  README.md
  stories/intro.stories.mdx
Due: none

remove useAllComponents
  src/qComponents/index.ts
Due: eslint --fix, prettier --write

fix types
  src/qComponents/index.ts
Due: eslint --fix, prettier --write

Fix shaking on setup (#88)
  README.md
  src/qComponents/index.ts
  stories/intro.stories.mdx
Due: eslint --fix, prettier --write

bump v
  package.json
Due: prettier --parser json --write

Remove validateField call in QUpload
  src/qComponents/QUpload/src/QUpload.vue
Due: eslint --fix, prettier --write, stylelint --fix

Fix watch in QCheckbox
  src/qComponents/QCheckbox/src/QCheckbox.vue
Due: eslint --fix, prettier --write, stylelint --fix

Add some metods for QFormItemInstance
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fixs
  package.json
  stories/core/colors.stories.mdx
  stories/core/icons.stories.mdx
  stories/intro.stories.mdx
  yarn.lock
Due: prettier --parser json --write

[QUpload] Fix validation flow (#97)
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
  src/qComponents/QUpload/src/QUpload.vue
Due: eslint --fix, prettier --write, stylelint --fix

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

Fix deprecated-argtype-defaultValue warning #103
  stories/components/QTextarea.stories.ts
Due: eslint --fix, prettier --write

upd
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup/Default.stories.ts
  stories/components/QCheckboxGroup/Indeterminate.stories.ts
  stories/components/QMessageBox/Component.stories.ts
  stories/components/QMessageBox/Extended.stories.ts
  stories/components/QUpload/Multiple.stories.ts
Due: eslint --fix, prettier --write

fixs
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QTabs.stories.ts
Due: eslint --fix, prettier --write

upd
  .storybook/main.ts
  .storybook/preview.ts
  src/qComponents/QDialog/src/QDialog.vue
  stories/components/QDialog.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

[Storybook] Fix deprecated-support-for-duplicate-kinds warning (#105)
  .storybook/main.ts
  .storybook/preview.ts
  src/qComponents/QDialog/src/QDialog.vue
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup/Default.stories.ts
  stories/components/QCheckboxGroup/Indeterminate.stories.ts
  stories/components/QDialog.stories.ts
  stories/components/QMessageBox/Component.stories.ts
  stories/components/QMessageBox/Extended.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
  stories/components/QTabs.stories.ts
  stories/components/QUpload/Multiple.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

Fix deprecated-argtype-defaultValue warning #103 (#104)
  stories/components/QTextarea.stories.ts
Due: eslint --fix, prettier --write

wip
  package.json
  src/qComponents/QCascader/src/QCascaderInput/QCascaderInput.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
  src/qComponents/QDatePicker/src/QDatePicker.vue
  src/qComponents/QDatePicker/src/panel/Date/DatePanel.vue
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  src/qComponents/QMessageBox/src/index.ts
  src/qComponents/QNotification/src/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableEmpty/QTableEmpty.vue
  src/qComponents/QTable/src/QTableEmpty/types.ts
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/types.ts
  src/qComponents/QUpload/src/QUploadDropZone/QUploadDropZone.vue
  src/qComponents/QUpload/src/QUploadFileMultiple/QUploadFileMultiple.vue
  src/qComponents/config.ts
  src/qComponents/index.ts
  src/qComponents/locale/index.ts
  src/qComponents/types.ts
  stories/components/QBreadcrumbs.stories.ts
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

upd deps
  package.json
  yarn.lock
Due: prettier --parser json --write

upd
  package.json
  src/qComponents/QColorPicker/src/QPickerDropdown/types.ts
  src/qComponents/QDatePicker/src/panel/Date/types.ts
  src/qComponents/QDatePicker/src/types.ts
  src/qComponents/QInput/src/types.ts
  src/qComponents/QSelect/src/types.ts
  src/qComponents/QTable/src/QTableEmpty/types.ts
  src/qComponents/QTextarea/src/types.ts
  src/qComponents/config.ts
  src/qComponents/constants/locales/index.ts
  src/qComponents/index.ts
  src/qComponents/locale/index.ts
  src/qComponents/types.ts
  yarn.lock
Due: eslint --fix, prettier --write, prettier --parser json --write

Fix input suffix styles
  src/qComponents/QInput/src/q-input.scss
Due: prettier --write, stylelint --fix

refactoring
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QInputNumber/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

upd
  stories/components/QBreadcrumbs.stories.ts
Due: eslint --fix, prettier --write
