Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

feat: add font-smoothing (#284)
  src/main.scss
Due: prettier --write, stylelint --fix

docs(QSwitcher): typo, modelValue description
  vuepress-docs/docs/components/QSwitch.md
Due: none

feat(QSwitch): add component (#280)
  src/qComponents/QSwitch/index.ts
  src/qComponents/QSwitch/src/QSwitch.vue
  src/qComponents/QSwitch/src/q-switch.scss
  src/qComponents/QSwitch/src/types.ts
  src/qComponents/index.ts
  stories/components/QSwitch.stories.ts
  vuepress-docs/docs/.vuepress/config.ts
  vuepress-docs/docs/.vuepress/public/QSwitch/default.html
  vuepress-docs/docs/.vuepress/public/QSwitch/disabled.html
  vuepress-docs/docs/.vuepress/public/QSwitch/loading.html
  vuepress-docs/docs/components/QSwitch.md
Due: eslint --fix, prettier --write, stylelint --fix

docs: in progress
  vuepress-docs/docs/components/QSlider.md
Due: none

chore: release v0.14.0
  package.json
Due: prettier --parser json --write

build: add import/order eslint rule
  .eslintrc
Due: prettier --parser json --write

chore: update deps
  package.json
  yarn.lock
Due: prettier --parser json --write

build: swap eslint with prettier in lintstagedrc
  .lintstagedrc
  package.json
Due: prettier --parser json --write

chore: update deps (#286)
  package.json
  yarn.lock
Due: prettier --parser json --write

feat: typing
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: prop icon type
  src/qComponents/QButton/src/types.ts
Due: eslint --fix, prettier --write

fix: prop nativeType type
  src/qComponents/QButton/src/types.ts
Due: eslint --fix, prettier --write

fix: types
  src/qComponents/QButton/src/types.ts
Due: eslint --fix, prettier --write

fix: by comments
  src/qComponents/QButton/index.ts
  src/qComponents/QButton/src/types.ts
Due: eslint --fix, prettier --write

fix: by comments
  src/qComponents/QButton/index.ts
  src/qComponents/QButton/src/QButton.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat(QSlider): add tooltip
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/QSlider.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): colors
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/q-slider.scss
  src/vars.scss
  stories/components/QSlider/Default.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): types (#264)
  src/qComponents/QButton/index.ts
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: typing
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/components/QBar/QBar.vue
  src/qComponents/QScrollbar/src/components/QBar/types.ts
  src/qComponents/QScrollbar/src/components/QBar/util.ts
  src/qComponents/QScrollbar/src/types.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/components/QBar/QBar.vue
  src/qComponents/QScrollbar/src/components/QBar/types.ts
  src/qComponents/QScrollbar/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: typing
  src/qComponents/QScrollbar/src/components/QBar/QBar.vue
  src/qComponents/QScrollbar/src/components/QBar/types.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/components/QBar/QBar.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: scrollbar types
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: transform style
  src/qComponents/QScrollbar/src/components/QBar/util.ts
Due: eslint --fix, prettier --write

feat: typing
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): box-shadows, hover, focus
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
Due: prettier --write, stylelint --fix

fix(QSlider): tooltip visibility, add "range" example, setupValue to watch modelValue
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  stories/components/QSlider/QSlider.stories.ts
  stories/components/QSlider/Range.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): default tooltip mode - none, move styles in css
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): naming, little fixes
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/Range.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: types
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/components/QBar/util.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: q-bar
  .stylelintignore
  src/qComponents/QScrollbar/src/components/QBar/QBar.vue
  src/qComponents/QScrollbar/src/components/QBar/constants.ts
  src/qComponents/QScrollbar/src/components/QBar/types.ts
  src/qComponents/QScrollbar/src/components/QBar/util.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): do not make empty captions
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/QSlider.stories.ts
  stories/components/QSlider/WithoutSteps.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): slots width
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{vue, html})
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.{vue, html})
  stylelint --fix: (any of: *.scss) or (any of: *.{vue, html})
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
