Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

chore: release v0.6.2
  package.json
Due: prettier --parser json --write

fix: (QTable) formatter usage
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/QTableTBodyCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QTable): column value formatter usage (#204)
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/QTableTBodyCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: add boolean type into cell value prop
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/QTableTBodyCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: add boolean type into cell value prop (#205)
  src/qComponents/QTable/src/QTableTBody/QTableTBodyCell/QTableTBodyCell.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QOption): dont try write to isSelected computed
  src/qComponents/QOption/src/QOption.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QOption): dont try write to isSelected computed (#206)
  src/qComponents/QOption/src/QOption.vue
Due: eslint --fix, prettier --write, stylelint --fix

fear: QSlider initial
  src/qComponents/QSlider/index.ts
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/index.vue
  src/qComponents/QSlider/src/components/QSliderBar/types.ts
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
  src/qComponents/QSlider/src/components/QSliderSteps/index.vue
  src/qComponents/QSlider/src/components/QSliderSteps/types.ts
  src/qComponents/QSlider/src/q-slider.scss
  src/qComponents/QSlider/src/styles/q-slider-bar.scss
  src/qComponents/QSlider/src/styles/q-slider-button.scss
  src/qComponents/QSlider/src/styles/q-slider-captions.scss
  src/qComponents/QSlider/src/styles/q-slider-steps.scss
  src/qComponents/QSlider/src/styles/q-slider.scss
  src/qComponents/QSlider/src/types.ts
  src/qComponents/QTable/src/types.ts
  src/qComponents/index.ts
  src/vars.scss
  stories/components/QSlider/Default.ts
  stories/components/QSlider/QSlider.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: use mouseup handler instead mousemove where needed
  src/qComponents/QScrollbar/src/QBar.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QScrollbar): stop scrolling if the mouse is not pressed after clicking on the scrollbar (#211)
  src/qComponents/QScrollbar/src/QBar.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: upgrade dependencies
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: upgrade vue
  package.json
  yarn.lock
Due: prettier --parser json --write

chore: upgrade dependencies (#212)
  package.json
  yarn.lock
Due: prettier --parser json --write

docs: add slots to qcheckbox docs
  docs/components/QCheckbox.md
Due: none

docs: add QCheckboxGroup
  docs/.vuepress/config.ts
  docs/.vuepress/public/QCheckboxGroup/QCheckboxGroup.html
  docs/.vuepress/public/QCheckboxGroup/direction.html
  docs/.vuepress/public/QCheckboxGroup/disabled.html
  docs/.vuepress/public/QCheckboxGroup/max.html
  docs/.vuepress/public/QCheckboxGroup/min.html
  docs/components/QCheckbox.md
  docs/components/QCheckboxGroup.md
Due: eslint --fix, prettier --write

docs: add html to lintstagedrc, add yarn cache action, reformat code
  .github/workflows/netlify.yml
  .lintstagedrc
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/indeterminate.html
  docs/.vuepress/public/QCheckbox/label.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckbox/validate.html
  docs/.vuepress/public/QCheckboxGroup/QCheckboxGroup.html
  docs/.vuepress/public/QCheckboxGroup/direction.html
  docs/.vuepress/public/QCheckboxGroup/disabled.html
  docs/.vuepress/public/QCheckboxGroup/max.html
  docs/.vuepress/public/QCheckboxGroup/min.html
  docs/components/QCheckbox.md
  docs/components/QCheckboxGroup.md
Due: prettier --parser json --write, prettier --parser yaml --write

docs: reformat code, remove unused code
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/indeterminate.html
  docs/.vuepress/public/QCheckbox/label.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckbox/validate.html
Due: none

docs: qcheckbox docs
  docs/.vuepress/config.ts
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/indeterminate.html
  docs/.vuepress/public/QCheckbox/label.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckbox/validate.html
  docs/components/QCheckbox.md
Due: eslint --fix, prettier --write

docs: add events to qcheckbox docs
  docs/components/QCheckbox.md
Due: none

docs: add action cache to deploy.yml, add lines to prettierignore, add html to lint:js:fix script
  .github/workflows/deploy.yml
  .prettierignore
  package.json
Due: prettier --parser json --write, prettier --parser yaml --write

fix: yarn lock
  yarn.lock
Due: none

docs: layout docs
  docs/.vuepress/config.ts
  docs/.vuepress/public/Layout/Layout.html
  docs/.vuepress/public/Layout/Layout[qcol].html
  docs/components/Layout.md
  yarn.lock
Due: eslint --fix, prettier --write

docs: add events to QCheckboxGroup, edit examples of the QCheckbox
  .github/workflows/deploy.yml
  .github/workflows/netlify.yml
  .lintstagedrc
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/components/QCheckbox.md
  docs/components/QCheckboxGroup.md
Due: prettier --parser json --write, prettier --parser yaml --write

docs: reformat code, replace tabs with button
  .lintstagedrc
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckboxGroup/direction.html
  docs/.vuepress/public/QCheckboxGroup/max.html
  docs/components/QCheckboxGroup.md
Due: prettier --parser json --write

fix: do not use label and slot at the same time
  docs/.vuepress/public/QCheckboxGroup/QCheckboxGroup.html
  docs/.vuepress/public/QCheckboxGroup/disabled.html
  docs/.vuepress/public/QCheckboxGroup/max.html
  docs/.vuepress/public/QCheckboxGroup/min.html
  docs/components/QCheckboxGroup.md
Due: none

docs: change examples
  docs/.vuepress/public/QBreadcrumbs.html
  docs/.vuepress/public/QBreadcrumbs[last].html
  docs/.vuepress/public/QButton.html
  docs/.vuepress/public/QButton[circle].html
  docs/.vuepress/public/QButton[disabled].html
  docs/.vuepress/public/QButton[icon].html
  docs/.vuepress/public/QButton[loading].html
  docs/.vuepress/public/QButton[size].html
  docs/.vuepress/public/QButton[theme].html
  docs/.vuepress/public/QButton[type].html
  docs/.vuepress/public/QCascader.html
  docs/components/QCascader.md
Due: none

feat: add qslider
  src/qComponents/QSlider/index.ts
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/index.vue
  src/qComponents/QSlider/src/components/QSliderBar/types.ts
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
  src/qComponents/QSlider/src/components/QSliderSteps/index.vue
  src/qComponents/QSlider/src/components/QSliderSteps/types.ts
  src/qComponents/QSlider/src/styles/q-slider-bar.scss
  src/qComponents/QSlider/src/styles/q-slider-button.scss
  src/qComponents/QSlider/src/styles/q-slider-captions.scss
  src/qComponents/QSlider/src/styles/q-slider-steps.scss
  src/qComponents/QSlider/src/styles/q-slider.scss
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/Default.ts
  stories/components/QSlider/QSlider.stories.ts
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: update yarn lock
  yarn.lock
Due: none

chore: update yarn lock
  yarn.lock
Due: none

chore: release v0.6.3
  package.json
Due: prettier --parser json --write

fix: fix texts, add default to props
  docs/components/QCheckbox.md
  docs/components/QCheckboxGroup.md
Due: none

fix(QSlider): add style prop
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: add description for layout docs
  docs/components/Layout.md
Due: none

docs: QCheckbox doc (#213)
  .github/workflows/deploy.yml
  .github/workflows/netlify.yml
  .lintstagedrc
  .prettierignore
  docs/.vuepress/config.ts
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/indeterminate.html
  docs/.vuepress/public/QCheckbox/label.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckbox/validate.html
  docs/.vuepress/public/QCheckboxGroup/QCheckboxGroup.html
  docs/.vuepress/public/QCheckboxGroup/direction.html
  docs/.vuepress/public/QCheckboxGroup/disabled.html
  docs/.vuepress/public/QCheckboxGroup/max.html
  docs/.vuepress/public/QCheckboxGroup/min.html
  docs/components/QCheckbox.md
  docs/components/QCheckboxGroup.md
  package.json
Due: eslint --fix, prettier --write, prettier --parser json --write, prettier --parser yaml --write

fix: by comments
  .storybook/locales/en.ts
  .storybook/locales/ru.ts
  .storybook/main.ts
  src/qComponents/QCol/src/q-col.scss
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/index.vue
  src/qComponents/QSlider/src/components/QSliderBar/types.ts
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
  src/qComponents/QSlider/src/q-slider.scss
  src/qComponents/QSlider/src/styles/q-slider-bar.scss
  src/qComponents/QSlider/src/styles/q-slider-steps.scss
  src/qComponents/QSlider/src/styles/q-slider.scss
  src/qComponents/QSlider/src/types.ts
  src/qComponents/QTable/src/types.ts
  stories/components/QSlider/Default.ts
  stories/components/QSlider/QSlider.stories.ts
  stories/components/QSlider/SlotCaption.ts
  stories/intro.stories.mdx
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): add hooks
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/types.ts
  src/qComponents/hooks/helpers.ts
  src/qComponents/hooks/index.ts
  src/qComponents/hooks/types.ts
  src/qComponents/hooks/useElementBounding/index.ts
  src/qComponents/hooks/useElementBounding/types.ts
  src/qComponents/hooks/useResizeObserver/ResizeObserver.ts
  src/qComponents/hooks/useResizeObserver/index.ts
  src/qComponents/hooks/useResizeObserver/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): by comments
  .storybook/main.ts
  src/qComponents/QSlider/index.ts
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
  src/qComponents/QSlider/src/types.ts
  src/qComponents/hooks/helpers.ts
  src/qComponents/hooks/index.ts
  src/qComponents/hooks/types.ts
  src/qComponents/hooks/useElementBounding/index.ts
  src/qComponents/hooks/useElementBounding/types.ts
  src/qComponents/hooks/useResizeObserver/ResizeObserver.ts
  src/qComponents/hooks/useResizeObserver/index.ts
  src/qComponents/hooks/useResizeObserver/types.ts
  src/qComponents/index.ts
  stories/components/QSlider/SlotCaption.ts
  stories/intro.stories.mdx
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): --color-rgb-red
  src/vars.scss
Due: prettier --write, stylelint --fix

fix(QSlider): slot caption story
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write

build: upgrade deps
  package.json
  yarn.lock
Due: prettier --parser json --write

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.vue)
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.vue)
  stylelint --fix: (any of: *.scss) or (any of: *.vue)
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
