Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["eslint --fix", "prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.{vue, html}": ["stylelint --fix", "prettier --write", "eslint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

fix(QSlider): showSteps
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/WithoutSteps.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): not first value in storybook examples
  stories/components/QSlider/SlotCaption.ts
  stories/components/QSlider/WithoutSteps.ts
Due: eslint --fix, prettier --write

fix(QSlider): tooltipMode prop type
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/types.ts
  stories/components/QSlider/QSlider.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): center text in captions
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
Due: prettier --write, stylelint --fix

fix(QSlider): caption positions
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
Due: prettier --write, stylelint --fix

fix(QSlider): prop description, default values, naming
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  stories/components/QSlider/QSlider.stories.ts
  stories/components/QSlider/WithEmptyCaptions.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): bar, steps and button position
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/q-slider.scss
Due: prettier --write, stylelint --fix

fix(QSlider): top tooltip position
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  stories/components/QSlider/WithEmptyCaptions.ts
Due: eslint --fix, prettier --write, stylelint --fix

refactor: q-bar
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/components/QBar/constants.ts
  src/qComponents/QScrollbar/src/components/QBar/index.ts
  src/qComponents/QScrollbar/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): tooltip mode default
  stories/components/QSlider/WithEmptyCaptions.ts
Due: eslint --fix, prettier --write

refactor: q-bar
  src/qComponents/QScrollbar/src/components/QBar/index.ts
Due: eslint --fix, prettier --write

fix(QScrollbar): types (#256)
  .stylelintignore
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/components/QBar/QBar.vue
  src/qComponents/QScrollbar/src/components/QBar/constants.ts
  src/qComponents/QScrollbar/src/components/QBar/index.ts
  src/qComponents/QScrollbar/src/components/QBar/types.ts
  src/qComponents/QScrollbar/src/components/QBar/util.ts
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QScrollbar/src/util.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QSlider): add tooltip, fix colors (#289)
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
  src/qComponents/QSlider/src/q-slider.scss
  src/qComponents/QSlider/src/types.ts
  src/vars.scss
  stories/components/QSlider/Default.ts
  stories/components/QSlider/QSlider.stories.ts
  stories/components/QSlider/SlotCaption.ts
  stories/components/QSlider/WithEmptyCaptions.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QInputNumber): add prefix and suffix
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QInputNumber/src/types.ts
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QInputNumber): add isNumber helper
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/isNumber.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat(QInputNumber): add example to storybook
  stories/components/QInputNumber.stories.ts
Due: eslint --fix, prettier --write

docs(QInputNumber): add suffix and prefix to docs
  vuepress-docs/docs/.vuepress/public/QInputNumber/postfix.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/prefix.html
  vuepress-docs/docs/components/QInputNumber.md
Due: none

fix(QInputNumber): remove isNumber helper, fix getValueWithOrWithoutSuffixPrefix
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/helpers/isNumber.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInputNumber): remove extra watch and ref
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInputNumber): make prop description shorter
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInputNumber): move logic to format number function
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/helpers/index.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): primary colors
  src/qComponents/QButton/src/q-button.scss
  stories/components/QButton.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): secondary colors
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): type icon, theme link colors
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

refactor: types q-form-item
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): size medium colors, paddings, icon size
  src/qComponents/QButton/src/q-button.scss
  stories/components/QButton.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: by comments
  src/qComponents/QFormItem/index.ts
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): size small colors, sizes
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

docs(QButton): add link icon state to examples
  vuepress-docs/docs/.vuepress/public/QButton/main.html
Due: none

fix(QButton): rewrite primary styles
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): color rgb gray
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): theme link type icon
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): secondary disabled
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): small size
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): small size link icon
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): use vars
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/q-button.scss
Due: eslint --fix, prettier --write, stylelint --fix

feat!(QInputNumber): add prefix and suffix (#290)
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/q-input-number.scss
  src/qComponents/QInputNumber/src/types.ts
  stories/components/QInputNumber.stories.ts
  vuepress-docs/docs/.vuepress/public/QInputNumber/postfix.html
  vuepress-docs/docs/.vuepress/public/QInputNumber/prefix.html
  vuepress-docs/docs/components/QInputNumber.md
Due: eslint --fix, prettier --write, stylelint --fix

fix(QFormItem): types (#291)
  src/qComponents/QFormItem/index.ts
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix(QButton): little fixes
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix

fix(QButton): remove useless vars
  src/qComponents/QButton/src/q-button.scss
Due: prettier --write, stylelint --fix
