Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

build: upgrade deps (#216)
  package.json
  yarn.lock
Due: prettier --parser json --write

fix(QSlider): replace rgba to rgb
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
  src/qComponents/QSlider/src/q-slider.scss
Due: prettier --write, stylelint --fix

fix(QSlider): by comments
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
  src/qComponents/QSlider/src/q-slider.scss
  src/vars.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): setBtnPosition
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): add condition to setBtnPosition
  src/qComponents/QSlider/src/QSlider.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QSlider): by comments
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

feat: complete describing props
  docs/.vuepress/public/QCascader/allLevelsShown.html
  docs/.vuepress/public/QCascader/checkStrictly.html
  docs/.vuepress/public/QCascader/collapseTags.html
  docs/.vuepress/public/QCascader/main.html
  docs/.vuepress/public/QCascader/multiple.html
  docs/.vuepress/public/QCascader/separator.html
  docs/components/QCascader.md
Due: none

feat: edit links
  docs/.vuepress/config.ts
  docs/README.md
  docs/components/README.md
Due: eslint --fix, prettier --write

feat: fix lint & checkbox style
  docs/.vuepress/public/QBreadcrumbs.html
  docs/.vuepress/public/QBreadcrumbs[last].html
  docs/.vuepress/public/QButton.html
  docs/.vuepress/public/QButton[circle].html
  docs/.vuepress/public/QButton[disabled].html
  docs/.vuepress/public/QButton[icon].html
  docs/.vuepress/public/QButton[loading].html
  docs/.vuepress/public/QButton[size].html
  docs/.vuepress/public/QButton[theme].html
  docs/.vuepress/public/QButton[type].html
  docs/.vuepress/public/QCascader/allLevelsShown.html
  docs/.vuepress/public/QCascader/checkStrictly.html
  docs/.vuepress/public/QCascader/collapseTags.html
  docs/.vuepress/public/QCascader/main.html
  docs/.vuepress/public/QCascader/multiple.html
  docs/.vuepress/public/QCascader/separator.html
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/indeterminate.html
  docs/.vuepress/public/QCheckbox/label.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckbox/validate.html
  docs/components/QCascader.md
Due: none

Docs: cascader (#217)
  docs/.vuepress/config.ts
  docs/.vuepress/public/QBreadcrumbs.html
  docs/.vuepress/public/QBreadcrumbs[last].html
  docs/.vuepress/public/QButton.html
  docs/.vuepress/public/QButton[circle].html
  docs/.vuepress/public/QButton[disabled].html
  docs/.vuepress/public/QButton[icon].html
  docs/.vuepress/public/QButton[loading].html
  docs/.vuepress/public/QButton[size].html
  docs/.vuepress/public/QButton[theme].html
  docs/.vuepress/public/QButton[type].html
  docs/.vuepress/public/QCascader/allLevelsShown.html
  docs/.vuepress/public/QCascader/checkStrictly.html
  docs/.vuepress/public/QCascader/collapseTags.html
  docs/.vuepress/public/QCascader/main.html
  docs/.vuepress/public/QCascader/multiple.html
  docs/.vuepress/public/QCascader/separator.html
  docs/.vuepress/public/QCheckbox/QCheckbox.html
  docs/.vuepress/public/QCheckbox/disabled.html
  docs/.vuepress/public/QCheckbox/indeterminate.html
  docs/.vuepress/public/QCheckbox/label.html
  docs/.vuepress/public/QCheckbox/model.html
  docs/.vuepress/public/QCheckbox/validate.html
  docs/README.md
  docs/components/QCascader.md
  yarn.lock
Due: eslint --fix, prettier --write

feat: add slider component (#215)
  .storybook/locales/en.ts
  .storybook/locales/ru.ts
  src/qComponents/QSlider/index.ts
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/index.vue
  src/qComponents/QSlider/src/components/QSliderBar/types.ts
  src/qComponents/QSlider/src/components/QSliderButton/index.vue
  src/qComponents/QSlider/src/components/QSliderButton/q-slider-button.scss
  src/qComponents/QSlider/src/components/QSliderButton/types.ts
  src/qComponents/QSlider/src/components/QSliderCaptions/index.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/q-slider-captions.scss
  src/qComponents/QSlider/src/components/QSliderCaptions/types.ts
  src/qComponents/QSlider/src/q-slider.scss
  src/qComponents/QSlider/src/types.ts
  src/qComponents/index.ts
  src/vars.scss
  stories/components/QSlider/Default.ts
  stories/components/QSlider/QSlider.stories.ts
  stories/components/QSlider/SlotCaption.ts
Due: eslint --fix, prettier --write, stylelint --fix

docs: fix texts, formatting
  docs/components/Layout.md
Due: none

docs: Layout (QCol/QRow) docs (#214)
  docs/.vuepress/config.ts
  docs/.vuepress/public/Layout/Layout.html
  docs/.vuepress/public/Layout/Layout[qcol].html
  docs/components/Layout.md
Due: eslint --fix, prettier --write

docs: start QCollapse
  docs/components/QCollapse.md
Due: none

fix: add .vue to import
  src/qComponents/QSlider/src/QSlider.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: rename components
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/QSliderBar.vue
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: add .vue to import (#218)
  src/qComponents/QSlider/src/QSlider.vue
  src/qComponents/QSlider/src/components/QSliderBar/QSliderBar.vue
  src/qComponents/QSlider/src/components/QSliderButton/QSliderButton.vue
  src/qComponents/QSlider/src/components/QSliderCaptions/QSliderCaptions.vue
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.7.0
  package.json
Due: prettier --parser json --write

docs: add collaps docs & refact other components
  docs/.vuepress/config.ts
  docs/.vuepress/public/QBreadcrumbs/last.html
  docs/.vuepress/public/QBreadcrumbs/main.html
  docs/.vuepress/public/QButton/circle.html
  docs/.vuepress/public/QButton/disabled.html
  docs/.vuepress/public/QButton/icon.html
  docs/.vuepress/public/QButton/loading.html
  docs/.vuepress/public/QButton/main.html
  docs/.vuepress/public/QButton/size.html
  docs/.vuepress/public/QButton/theme.html
  docs/.vuepress/public/QButton/type.html
  docs/.vuepress/public/QCollapse/accordion.html
  docs/.vuepress/public/QCollapse/main.html
  docs/components/QBreadcrumbs.md
  docs/components/QButton.md
  docs/components/QCascader.md
  docs/components/QCollapse.md
Due: eslint --fix, prettier --write

Docs: QCollapse (#219)
  docs/.vuepress/config.ts
  docs/.vuepress/public/QBreadcrumbs/last.html
  docs/.vuepress/public/QBreadcrumbs/main.html
  docs/.vuepress/public/QButton/circle.html
  docs/.vuepress/public/QButton/disabled.html
  docs/.vuepress/public/QButton/icon.html
  docs/.vuepress/public/QButton/loading.html
  docs/.vuepress/public/QButton/main.html
  docs/.vuepress/public/QButton/size.html
  docs/.vuepress/public/QButton/theme.html
  docs/.vuepress/public/QButton/type.html
  docs/.vuepress/public/QCollapse/accordion.html
  docs/.vuepress/public/QCollapse/main.html
  docs/components/QBreadcrumbs.md
  docs/components/QButton.md
  docs/components/QCascader.md
  docs/components/QCollapse.md
Due: eslint --fix, prettier --write

docs: colorpicker
  .github/workflows/deploy.yml
  docs/.vuepress/config.ts
  docs/.vuepress/public/QColorpicker/alpha-shown.html
  docs/.vuepress/public/QColorpicker/main.html
  docs/.vuepress/public/QColorpicker/trigger.html
  docs/components/QColorpicker.md
Due: eslint --fix, prettier --write, prettier --parser yaml --write

feat: add q-icon-refresh-fill icon
  src/icons/icons.scss
  src/icons/qicon.woff
  src/icons/svg/refresh-fill.svg
  stories/core/iconsList.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: update deps and rerun linters
  docs/components/Layout.md
  docs/components/QCascader.md
  docs/components/QCollapse.md
  docs/components/QColorpicker.md
  package.json
  src/qComponents/QSlider/src/QSlider.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

fix: miss-formatting
  docs/components/QCascader.md
  docs/components/QCheckbox.md
  docs/components/QCheckboxGroup.md
  docs/components/QCollapse.md
  docs/components/QColorpicker.md
Due: none

feat: change font
  docs/.vuepress/public/fonts/Gilroy-Bold.woff
  docs/.vuepress/public/fonts/Gilroy-ExtraBold.woff
  docs/.vuepress/public/fonts/Gilroy-Medium.woff
  docs/.vuepress/public/fonts/Gilroy-Regular.woff
  docs/.vuepress/public/fonts/Urbanist-Bold.woff2
  docs/.vuepress/public/fonts/Urbanist-ExtraBold.woff2
  docs/.vuepress/public/fonts/Urbanist-Medium.woff2
  docs/.vuepress/public/fonts/Urbanist-Regular.woff2
  docs/.vuepress/styles/index.scss
  src/fonts/Gilroy-Bold.woff
  src/fonts/Gilroy-ExtraBold.woff
  src/fonts/Gilroy-Medium.woff
  src/fonts/Gilroy-Regular.woff
  src/fonts/Urbanist-Bold.woff2
  src/fonts/Urbanist-ExtraBold.woff2
  src/fonts/Urbanist-Medium.woff2
  src/fonts/Urbanist-Regular.woff2
  src/fonts/fonts.scss
  src/main.scss
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

feat: change font (#225)
  docs/.vuepress/public/fonts/Gilroy-Bold.woff
  docs/.vuepress/public/fonts/Gilroy-ExtraBold.woff
  docs/.vuepress/public/fonts/Gilroy-Medium.woff
  docs/.vuepress/public/fonts/Gilroy-Regular.woff
  docs/.vuepress/public/fonts/Urbanist-Bold.woff2
  docs/.vuepress/public/fonts/Urbanist-ExtraBold.woff2
  docs/.vuepress/public/fonts/Urbanist-Medium.woff2
  docs/.vuepress/public/fonts/Urbanist-Regular.woff2
  docs/.vuepress/styles/index.scss
  src/fonts/Gilroy-Bold.woff
  src/fonts/Gilroy-ExtraBold.woff
  src/fonts/Gilroy-Medium.woff
  src/fonts/Gilroy-Regular.woff
  src/fonts/Urbanist-Bold.woff2
  src/fonts/Urbanist-ExtraBold.woff2
  src/fonts/Urbanist-Medium.woff2
  src/fonts/Urbanist-Regular.woff2
  src/fonts/fonts.scss
  src/main.scss
  vite.config.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: update deps and rerun linters (#224)
  docs/components/Layout.md
  docs/components/QCascader.md
  docs/components/QCheckbox.md
  docs/components/QCheckboxGroup.md
  docs/components/QCollapse.md
  docs/components/QColorpicker.md
  package.json
  src/qComponents/QSlider/src/QSlider.vue
  yarn.lock
Due: eslint --fix, prettier --write, stylelint --fix, prettier --parser json --write

feat: add q-icon-refresh-fill icon (#223)
  src/icons/icons.scss
  src/icons/qicon.woff
  src/icons/svg/refresh-fill.svg
  stories/core/iconsList.ts
Due: eslint --fix, prettier --write, stylelint --fix

chore: release v0.8.0
  package.json
Due: prettier --parser json --write

fix: condition in handleDocumentFocus in qDrawerContainer and qDialogContainer
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: allow zero as select value
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: allow zero as input number value
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: create popper only when panel element is exists
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: move the condition higher
  src/qComponents/QDatePicker/src/QDatePicker.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix(QInputNumber): do not emit change event on input
  src/qComponents/QInputNumber/src/QInputNumber.vue
Due: eslint --fix, prettier --write, stylelint --fix

fix: datepicker error styles
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: prettier --write, stylelint --fix

fix: datepicker indents
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: prettier --write, stylelint --fix

fix: datepicker move icon to right
  src/qComponents/QDatePicker/src/q-date-picker.scss
Due: prettier --write, stylelint --fix

fix: allow zero as value in QSelect and QInputNumber (#228)
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/helpers.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: eslint --fix, prettier --write, stylelint --fix

fix: condition in handleDocumentFocus in qDrawerContainer and qDialogContainer (#226)
  src/qComponents/QDialog/src/QDialogContainer/index.vue
  src/qComponents/QDrawer/src/QDrawerContainer/index.vue
Due: eslint --fix, prettier --write, stylelint --fix

Path conditions:
  eslint --fix: (any of: *.{js,ts}) or (any of: *.{vue, html})
  prettier --write: ((any of: *.{js,ts}) or (any of: *.scss)) or (any of: *.{vue, html})
  stylelint --fix: (any of: *.scss) or (any of: *.{vue, html})
  prettier --parser json --write: any of: {*.json,.*rc}
  prettier --parser yaml --write: any of: *.{yaml,yml}
