Repository altai-ui/qui-max: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, stylelint --fix, prettier --parser json --write, prettier --parser yaml --write

.lintstagedrc:

{
  "*.{js,ts}": ["prettier --write"],
  "*.scss": ["stylelint --fix", "prettier --write"],
  "*.vue": ["stylelint --fix"],
  "{*.json,.*rc}": ["prettier --parser json --write"],
  "*.{yaml,yml}": ["prettier --parser yaml --write"]
}

add more types
  src/qComponents/QCol/index.ts
  src/qComponents/QCol/src/QCol.vue
  src/qComponents/QCol/src/types.ts
  src/qComponents/QCollapse/index.ts
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QCollapse/src/types.ts
  src/qComponents/QCollapseItem/index.ts
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QCollapseItem/src/QCollapseTransition.vue
  src/qComponents/QCollapseItem/src/types.ts
  src/qComponents/QColorPicker/index.ts
  src/qComponents/QColorPicker/src/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/draggable.ts
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/constants/popperPlacements.ts
  stories/Layout/QCol.stories.ts
  stories/components/QCollapse.stories.ts
  stories/components/QColorPicker.stories.ts
  stories/components/QPopover.stories.ts
Due: prettier --write, stylelint --fix

add more types
  src/qComponents/QContextMenu/index.ts
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/types.ts
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/types.ts
  src/qComponents/QForm/index.ts
  src/qComponents/QForm/src/QForm.vue
  src/qComponents/QForm/src/types.ts
  src/qComponents/QFormItem/index.ts
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
  stories/components/QContextMenu.stories.ts
  stories/components/QForm.stories.ts
Due: prettier --write, stylelint --fix

add more types
  src/qComponents/QInput/index.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  src/qComponents/QInputNumber/index.ts
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/types.ts
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/types.ts
  src/qComponents/QPagination/index.ts
  src/qComponents/QPagination/src/QPagination.vue
  src/qComponents/QPagination/src/types.ts
  stories/components/QInput.stories.ts
  stories/components/QInputNumber.stories.ts
  stories/components/QMessageBox/Component.ts
  stories/components/QMessageBox/Default.ts
  stories/components/QMessageBox/MessageBoxFormTest.vue
  stories/components/QPagination.stories.ts
Due: prettier --write, stylelint --fix

add more types
  src/qComponents/QCol/src/QCol.vue
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorSvpanel.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QPopover/index.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QPopover/src/types.ts
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadio/src/types.ts
  src/qComponents/QRadioGroup/index.ts
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QRadioGroup/src/types.ts
  src/qComponents/QScrollbar/src/util.ts
  stories/components/QPopover.stories.ts
  stories/components/QRadio.stories.ts
  stories/components/QRadioGroup.stories.ts
Due: prettier --write, stylelint --fix

Add more types
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QMessageBox/src/types.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QRow/index.ts
  src/qComponents/QRow/src/QRow.vue
  src/qComponents/QRow/src/types.ts
  src/qComponents/QScrollbar/index.ts
  src/qComponents/QScrollbar/src/QBar.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QScrollbar/src/util.ts
  stories/Layout/QRow.stories.ts
  stories/components/QScrollbar/QScrollbar.stories.ts
Due: prettier --write, stylelint --fix

wip
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/q-select.scss
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix

add more types
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QDrawer/index.ts
  src/qComponents/QTabPane/index.ts
  src/qComponents/QTabPane/src/QTabPane.vue
  src/qComponents/QTabPane/src/types.ts
  src/qComponents/QTabs/index.ts
  src/qComponents/QTabs/src/QTabs.vue
  src/qComponents/QTabs/src/types.ts
  src/qComponents/QTag/index.ts
  src/qComponents/QTag/src/QTag.vue
  src/qComponents/QTag/src/types.ts
  src/qComponents/QTextarea/index.ts
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/types.ts
  stories/Layout/Layout.stories.ts
  stories/components/QCheckbox.stories.ts
  stories/components/QCheckboxGroup/Default.ts
  stories/components/QCheckboxGroup/Indeterminate.ts
  stories/components/QDrawer.stories.ts
  stories/components/QTabPane.stories.ts
  stories/components/QTabs.stories.ts
  stories/components/QTag.stories.ts
  stories/components/QTextarea.stories.ts
Due: prettier --write, stylelint --fix

add more types
  src/qComponents/QBreadcrumbs/index.ts
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/types.ts
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCol/src/QCol.vue
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QColorPicker/src/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QScrollbar/src/QBar.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/randId.ts
  src/qComponents/helpers/resizeEvent.ts
  stories/Layout/Layout.stories.ts
  stories/components/QBreadcrumbs.stories.ts
Due: prettier --write, stylelint --fix

wip
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
Due: prettier --write, stylelint --fix

it works
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
Due: prettier --write, stylelint --fix

fix exports
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QColorPicker/index.ts
  src/qComponents/QContextMenu/index.ts
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/constants/locales/index.ts
Due: prettier --write, stylelint --fix

fixes
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix

fixes
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/types.ts
Due: prettier --write, stylelint --fix

fix by comments
  src/qComponents/QCheckbox/src/QCheckbox.vue
Due: stylelint --fix

wip
  .storybook/preview.ts
  src/qComponents/index.ts
Due: prettier --write

Upd deps & refact
  .storybook/main.ts
  package.json
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QForm/src/QForm.vue
  src/qComponents/QForm/src/types.ts
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QRow/src/QRow.vue
  src/qComponents/QScrollbar/src/QBar.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/validateArray.ts
  stories/components/QColorPicker.stories.ts
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser json --write

upd deps
  yarn.lock
Due: none

Update deps and common refactoring (#25)
  .storybook/main.ts
  package.json
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QForm/src/QForm.vue
  src/qComponents/QForm/src/types.ts
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QRow/src/QRow.vue
  src/qComponents/QScrollbar/src/QBar.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/helpers/index.ts
  src/qComponents/helpers/validateArray.ts
  stories/components/QColorPicker.stories.ts
  yarn.lock
Due: prettier --write, stylelint --fix, prettier --parser json --write

add more types
  src/qComponents/QBreadcrumbs/index.ts
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
  src/qComponents/QBreadcrumbs/src/types.ts
  src/qComponents/QButton/index.ts
  src/qComponents/QButton/src/QButton.vue
  src/qComponents/QButton/src/types.ts
  src/qComponents/QCheckbox/index.ts
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
  src/qComponents/QCheckboxGroup/index.ts
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCheckboxGroup/src/types.ts
  src/qComponents/QCol/index.ts
  src/qComponents/QCol/src/QCol.vue
  src/qComponents/QCol/src/types.ts
  src/qComponents/QCollapse/index.ts
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QCollapse/src/types.ts
  src/qComponents/QCollapseItem/index.ts
  src/qComponents/QCollapseItem/src/QCollapseItem.vue
  src/qComponents/QCollapseItem/src/types.ts
  src/qComponents/QColorPicker/index.ts
  src/qComponents/QColorPicker/src/QColorAlphaSlider.vue
  src/qComponents/QColorPicker/src/QColorHueSlider.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QColorSvpanel.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/types.ts
Due: prettier --write, stylelint --fix

Add more types
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/QContextMenu/index.ts
  src/qComponents/QContextMenu/src/QContextMenu.vue
  src/qComponents/QContextMenu/src/types.ts
  src/qComponents/QDrawer/index.ts
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/types.ts
  src/qComponents/QForm/index.ts
  src/qComponents/QForm/src/QForm.vue
  src/qComponents/QForm/src/types.ts
  src/qComponents/QFormItem/index.ts
  src/qComponents/QFormItem/src/QFormItem.vue
  src/qComponents/QFormItem/src/types.ts
  src/qComponents/QTextarea/index.ts
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/types.ts
Due: prettier --write, stylelint --fix

Add more types
  src/qComponents/QInputNumber/index.ts
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/types.ts
  src/qComponents/QMessageBox/index.ts
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/types.ts
  src/qComponents/QPagination/index.ts
  src/qComponents/QPagination/src/QPagination.vue
  src/qComponents/QPagination/src/types.ts
  src/qComponents/QPopover/index.ts
  src/qComponents/QPopover/src/QPopover.vue
  src/qComponents/QPopover/src/types.ts
  src/qComponents/QRadio/index.ts
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadio/src/types.ts
  src/qComponents/QRadioGroup/index.ts
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QRadioGroup/src/types.ts
  src/qComponents/QRow/index.ts
  src/qComponents/QRow/src/QRow.vue
  src/qComponents/QRow/src/types.ts
  src/qComponents/QScrollbar/src/QBar.vue
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QTabPane/index.ts
  src/qComponents/QTabPane/src/QTabPane.vue
  src/qComponents/QTabPane/src/types.ts
  src/qComponents/QTabs/index.ts
  src/qComponents/QTabs/src/QTabs.vue
  src/qComponents/QTabs/src/types.ts
  src/qComponents/QTag/index.ts
  src/qComponents/QTag/src/QTag.vue
  src/qComponents/QTag/src/types.ts
Due: prettier --write, stylelint --fix

fix type
  src/qComponents/QColorPicker/src/QColorPicker.vue
Due: stylelint --fix

refact computed
  src/qComponents/QBreadcrumbs/src/QBreadcrumbs.vue
Due: stylelint --fix

add types
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/q-option.scss
  src/qComponents/QOption/src/types.ts
  src/qComponents/QScrollbar/index.ts
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QSelect/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/q-select-dropdown.scss
  src/qComponents/QSelect/src/q-select-tags.scss
  src/qComponents/QSelect/src/types.ts
  src/qComponents/index.ts
  stories/components/QMessageBox/MessageBoxFormTest.vue
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix

fixes
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
Due: prettier --write, stylelint --fix

fix isSelected
  src/qComponents/QOption/src/QOption.vue
Due: stylelint --fix

add types
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QSelect/src/QSelect.vue
Due: stylelint --fix

ref
  src/qComponents/QInput/index.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/types.ts
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QSelect/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix

ref
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
Due: stylelint --fix

ref
  src/qComponents/QSelect/src/types.ts
Due: prettier --write

ref
  stories/components/QSelect.stories.ts
Due: prettier --write

refact
  .storybook/preview.ts
  src/qComponents/QCheckbox/src/QCheckbox.vue
  src/qComponents/QCheckbox/src/types.ts
  src/qComponents/QCheckboxGroup/src/QCheckboxGroup.vue
  src/qComponents/QCollapse/src/QCollapse.vue
  src/qComponents/QColorPicker/src/QColorPicker.vue
  src/qComponents/QColorPicker/src/QPickerDropdown.vue
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/QContextMenu/src/types.ts
  src/qComponents/QDrawer/src/QDrawer.vue
  src/qComponents/QDrawer/src/types.ts
  src/qComponents/QForm/src/types.ts
  src/qComponents/QFormItem/src/types.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInputNumber/src/QInputNumber.vue
  src/qComponents/QInputNumber/src/types.ts
  src/qComponents/QMessageBox/src/QMessageBox.vue
  src/qComponents/QMessageBox/src/types.ts
  src/qComponents/QPagination/src/QPagination.vue
  src/qComponents/QPopover/src/types.ts
  src/qComponents/QRadio/src/QRadio.vue
  src/qComponents/QRadioGroup/src/QRadioGroup.vue
  src/qComponents/QRadioGroup/src/types.ts
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QTabs/src/QTabs.vue
  src/qComponents/QTag/src/QTag.vue
  src/qComponents/QTextarea/src/QTextarea.vue
  src/qComponents/QTextarea/src/calcTextareaHeight.ts
  src/qComponents/QTextarea/src/types.ts
  src/qComponents/constants/events.ts
  stories/components/QForm.stories.ts
Due: prettier --write, stylelint --fix

fix type
  src/qComponents/QColorPicker/src/types.ts
  src/qComponents/QInput/src/types.ts
  src/qComponents/QTextarea/src/types.ts
Due: prettier --write

fix types
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QScrollbar/src/types.ts
  src/qComponents/QSelect/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/types.ts
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix

fx
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/types.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/types.ts
Due: prettier --write, stylelint --fix

Select (#23)
  src/qComponents/QInput/index.ts
  src/qComponents/QInput/src/QInput.vue
  src/qComponents/QInput/src/q-input.scss
  src/qComponents/QInput/src/types.ts
  src/qComponents/QOption/index.ts
  src/qComponents/QOption/src/QOption.vue
  src/qComponents/QOption/src/q-option.scss
  src/qComponents/QOption/src/types.ts
  src/qComponents/QScrollbar/index.ts
  src/qComponents/QScrollbar/src/QScrollbar.vue
  src/qComponents/QSelect/index.ts
  src/qComponents/QSelect/src/QSelect.vue
  src/qComponents/QSelect/src/QSelectDropdown.vue
  src/qComponents/QSelect/src/QSelectTags.vue
  src/qComponents/QSelect/src/q-select-dropdown.scss
  src/qComponents/QSelect/src/q-select-tags.scss
  src/qComponents/QSelect/src/q-select.scss
  src/qComponents/QSelect/src/types.ts
  src/qComponents/index.ts
  stories/components/QMessageBox/MessageBoxFormTest.vue
  stories/components/QSelect.stories.ts
Due: prettier --write, stylelint --fix

QUpload
  src/qComponents/QUpload/index.ts
  src/qComponents/QUpload/src/QUpload.vue
  src/qComponents/QUpload/src/QUploadDropZone.vue
  src/qComponents/QUpload/src/QUploadFileMultiple.vue
  src/qComponents/QUpload/src/QUploadFileSingle.vue
  src/qComponents/QUpload/src/q-upload-drop-zone.scss
  src/qComponents/QUpload/src/q-upload-file-multiple.scss
  src/qComponents/QUpload/src/q-upload-file-single.scss
  src/qComponents/QUpload/src/q-upload.scss
  src/qComponents/QUpload/src/types.ts
  src/qComponents/constants/locales/en.ts
  src/qComponents/constants/locales/ru.ts
  src/qComponents/index.ts
  stories/components/QUpload/Default.ts
  stories/components/QUpload/Multiple.ts
  stories/components/QUpload/QUpload.stories.ts
Due: prettier --write, stylelint --fix

Add QNotification
  src/qComponents/QNotification/index.ts
  src/qComponents/QNotification/src/QNotification.vue
  src/qComponents/QNotification/src/QNotificationCloud.vue
  src/qComponents/QNotification/src/q-notification-cloud.scss
  src/qComponents/QNotification/src/q-notification.scss
  src/qComponents/QNotification/src/types.ts
  src/qComponents/helpers/eventBus.ts
  src/qComponents/helpers/index.ts
  src/qComponents/index.ts
  stories/components/QNotification.stories.ts
Due: prettier --write, stylelint --fix
